<div class="benifits">
    <div class="benifits-inner">
        <div class="benifits-title">
            <h4 class="heading-sub">Hurricane Hydrovac</h4>
            <h2 class="heading-main">Other Benifits</h2>
        </div>
        <div class="benifits-blocks">
            <div class="benifits-blocks-item">
                <div class="benifits-blocks-item-inner">
                    <div class="benifits-blocks-item-icon">
                        <img src="/assets/images/icons/excavator-icon-dark.svg" />
                    </div>
                    <div class="benifits-blocks-item-title">
                        <h2 class="heading-sub">Canadian Climate</h2>
                        <h3>24X7 service - 365 DAYS A YEAR</h3>
                    </div>
                    <div class="benifits-blocks-item-content">
                        <p>Traditional mechanical equipment just doesn't cut it when trying to work in frozen climates.  Our trucks include onboard water heaters which allow our operators to cut and push through ice and frozen terrain, allowing construction and emergency work 24 hours a day, 365 days a year - no matter the conditions.</p>
                    </div>
                </div>
            </div>
            <div class="benifits-blocks-item">
                <div class="benifits-blocks-item-inner">
                    <div class="benifits-blocks-item-icon">
                        <img src="/assets/images/icons/excavator-icon-dark.svg" />
                    </div>
                    <div class="benifits-blocks-item-title">
                        <h2 class="heading-sub">Environmental</h2>
                        <h3>MOE Approved</h3>
                    </div>
                    <div class="benifits-blocks-item-content">
                        <p>Licensing and approval by the Ministry of the Environment allow us to provide safe removal and transfer of a wide variety of materials. The non-destructive nature of hydro excavation also enables us to work in environmentally sensitive areas where traditional forms of excavation could cause damage.</p>
                    </div>
                </div>
            </div>
            <div class="benifits-blocks-item">
                <div class="benifits-blocks-item-inner">
                    <div class="benifits-blocks-item-icon">
                        <img src="/assets/images/icons/excavator-icon-dark.svg" />
                    </div>
                    <div class="benifits-blocks-item-title">
                        <h2 class="heading-sub">ALA Agreements</h2>
                        <h3>Expedite Your Project</h3>
                    </div>
                    <div class="benifits-blocks-item-content">
                        <p>We hold an Alternate Locate Agreement (ALA). Traditional field locate requests can take days or weeks. With our ALA, we're able to expedite work that meets specific criteria. We submit a request using our ID and can receive a locate ticket in a matter of hours, increasing efficiency and saving administrative costs.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>