<div class="benifits">
    <div class="benifits-inner">
        <div class="benifits-title">
            <h4 class="heading-sub">Service Offerings</h4>
            <h2 class="heading-main">What We Do</h2>
        </div>
        <div class="benifits-blocks">
            <a class="benifits-blocks-item" href="/services/full-service-garage/">
                <div class="benifits-blocks-item-inner">
                    <div class="benifits-blocks-item-icon">
                        <img src="/assets/images/icons/maintenance-icon.png" alt="Maintenance Icon" />
                    </div>
                    <div class="benifits-blocks-item-title">
                        <h2 class="heading-sub">Full Service Garage</h2>
                    </div>
                    <div class="benifits-blocks-item-content">
                        <ul>
                            <li>Inspections (MTO)</li>
                            <li>Safety Checks</li>
                            <li>Maintenance</li>
                            <li>Emissions Testing</li>
                        </ul>
                    </div>
                </div>
            </a>
            <a class="benifits-blocks-item" href="/services/fab-weld/">
                <div class="benifits-blocks-item-inner">
                    <div class="benifits-blocks-item-icon">
                        <img src="/assets/images/icons/welding-icon.png" alt="Fabrication Icon" />
                    </div>
                    <div class="benifits-blocks-item-title">
                        <h2 class="heading-sub">Fabrication &amp; Welding</h2>
                    </div>
                    <div class="benifits-blocks-item-content">
                        <ul>
                            <li>Welding</li>
                            <li>Fabrication</li>
                            <li>On-Site Services</li>
                        </ul>
                    </div>
                </div>
            </a>
            <a class="benifits-blocks-item" href="/services/sandblast-paint/">
                <div class="benifits-blocks-item-inner">
                    <div class="benifits-blocks-item-icon">
                        <img src="/assets/images/icons/paint-icon.png" alt="Paint Icon" />
                    </div>
                    <div class="benifits-blocks-item-title">
                        <h2 class="heading-sub">Sandblasting &amp; Painting</h2>
                    </div>
                    <div class="benifits-blocks-item-content">
                        <ul>
                            <li>Painting</li>
                            <li>Speciality Coatings</li>
                            <li>Sandblasting</li>
                        </ul>
                    </div>
                </div>
            </a>
            <a class="benifits-blocks-item" href="/services/body-shop/">
                <div class="benifits-blocks-item-inner">
                    <div class="benifits-blocks-item-icon">
                        <img src="/assets/images/icons/bodywork-icon.png" alt="Bodywork Icon" />
                    </div>
                    <div class="benifits-blocks-item-title">
                        <h2 class="heading-sub">Body Shop</h2>
                    </div>
                    <div class="benifits-blocks-item-content">
                        <ul>
                            <li>Fiberglass &amp; SMC Repair</li>
                            <li>Full Frame Repair</li>
                            <li>Boom &amp; Bucket Repair</li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>