<div class="book-now grid grid-50-50">
    <div class="grid-item">
        <h4 class="heading-sub">Get Started</h4>
        <h2 class="heading-main">Get In <span class="outline-text">Touch</span></h2>
    </div>
    <div class="grid-item">
        <div data-micromodal-trigger="modal-1" class="btn btn-outline hvr-sweep-to-left-dark large-button-text">519.796.9259</div>
        <a href="mailto:jodie@lapain.ca" class="btn btn-outline hvr-sweep-to-left-dark large-button-text">jodie@lapain.ca</a>
    </div>
</div>