
<div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
        
          <button class="modal__close" aria-label="Close modal" data-micromodal-close>X</button>
        
        <main class="modal__content" id="modal-1-content">
            <h2 class="heading-main text-align-center">Book Services</h2>
            <p class="text-align-center">To book over the phone please call <a href="tel:{{ site.phone }}" class="phone">{{ site.phone }}</a></p>
           <div class="book-now-form">
            <form netlify action="/success" name="contact popup">
              <label for="name">Name</label>
              <input type="text" id="name" name="name">
              <label for="phone">Phone</label>
              <input type="text" id="phone" name="phone">
              <label for="email">Email</label>
              <input type="text" id="email" name="email">
              <label for="message">Message</label>
              <textarea id="message" name="message"></textarea>
              <button class="btn btn-outline hvr-sweep-to-left" type="submit">Contact Us</button>
            </form>
        </div>
        </main>
        
      </div>
    </div>
  </div>

  <div class="modal micromodal-slide" id="modal-2" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
        
          <button class="modal__close" aria-label="Close modal" data-micromodal-close>X</button>
        
        <main class="modal__content" id="modal-1-content">
            <h2 class=" text-align-center" style="line-height:1.5;">We are currently having issues with our phone lines. To get in touch please contact us by emailing <a href="mailto:jodie@lapain.ca">jodie@lapain.ca</a></h2>
           
        </div>
        </main>
        
      </div>
    </div>
  </div>