<div class="stats" data-aos="fade-up">
    <div class="stats-item">
        <div class="stats-item-number">73+</div>
        <div class="stats-item-title">Years of Experience</div>
    </div>
    <div class="stats-item">
        <div class="stats-item-number">35,000+</div>
        <div class="stats-item-title">Sq.Ft. Facility</div>
    </div>
    <div class="stats-item">
        <div class="stats-item-number">5900+</div>
        <div class="stats-item-title">Jobs In The Past Year</div>
    </div>
</div>