$brand-color:#c4912c !default;

.fleet-image-banner {
    background-image: url('../images/hydrovac/hydrovac-truck-bg.jpg');
    background-size: cover;
    position: relative;
    h2 {
        color: #fff;
        .outline-text {
            -webkit-text-stroke-color: white;
        }
    }
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.3);
        top: 0;
        left: 0;
    }
}

@media (max-width: 1200px) {
    .hero {
        padding: 150px 0 50px 0!important;    
    }
    .hero:after {
       
        background: rgba(20, 20, 20, 0.38)!important;
    }
}

.contact-addressses {
    padding: 100px 0;
}

.team-section:after {
   
    background-image: url(../images/hydrovac/hurricane-hydrovac-h.svg)!important;
    background-size: 75% 75%!important;
    background-attachment: fixed;
}

.all-clients-item {
    width: 20%!important;
    @media (max-width: 1200px){
        width: 50%!important;
    }
}

.inspection-programs {
    background: #222;
    padding: 120px 0;
    background-image: url(../images/sms/partner-bg.jpg);
    background-position: center center;
    background-size: cover;
    &-content {
        max-width: 800px;
        width: 100%;
        @media (max-width: 1200px){
            padding: 0 20px;
        }
    }
    h2 {
        color: #fff;
        font-size: 40px;
        .outline-text {
            -webkit-text-stroke-color: white;
        }
    }
    .grid-item:first-of-type {
        text-align: right;
        @media (max-width: 1200px){
            text-align: center;
        }
        
    }
    .grid-item {
        padding: 0 20px;
        @media (max-width: 1200px){
            text-align: center;
        }
    }
    .btn {
        font-weight: 800;
        border-color: #fff;
        color: #fff;
        font-size: 20px;
        position: relative;
        z-index: 4;
        &:hover {
            color: #222;
        }
    }
}