.simple-site-footer {
    background: #222;
    padding: 100px 0;
    text-align: center;
    &-logo {
        img {
            width: 250px;
        }
    }
    &-nav {
        padding: 10px 0;
        ul {
            list-style-type: none;
            padding: 0;
            li {
                display: inline-block;
                padding: 0 20px;
                @media (max-width: 1200px){
                    display: block;
                    padding: 10px;
                }
                a {
                    color: #fff;
                    text-transform: uppercase;
                    font-weight: 800;
                    text-decoration: none;
                    padding-bottom: 5px;
                }
            }
        }
    }
    &-social {
        padding: 10px 0;
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            li {
                display: inline-block;
                padding: 0 20px;
                
                a {
                    background: #1a1a1a;
                    padding: 20px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100px;
                    img {
                        width: 28px;
                        height: auto;
                    }
                }
            }
        }
    }
    &-siblings {
        margin-top: 30px;
        h4 {
            color: #fff;
            text-transform: uppercase;
            margin-bottom: 20px;
            font-size: 14px;
        }
        
    }
}

.bottom-bar {
    padding: 15px 0;
    width: 100%;
    background: #111;
    text-align: right;
    overflow: hidden;
    a {
        color: #ddd;
        text-decoration: none;
    }
    &-container {
        display: flex;
        justify-content: center;
        max-width: 1400px;
        margin: 0 auto;
        align-items: center;
        @media (max-width: 1200px){
            flex-direction: column;
            width :100%;
        }
        
    }
    &-select {
        padding: 0 20px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 50%;
      @media (max-width: 1200px){
        width :100%;
        }
      &-text {
        color: #fff;
        font-weight: 600;
        font-size: 12px;
        text-transform: uppercase;
        margin-right: 40px;
      }
    }
    &-disclaimer {
        padding: 0 20px;
        line-height: 1.4;
        font-size: 13px;
        color: #ddd;
        width: 50%;
        @media (max-width: 1200px){
            width :100%;
            text-align: center;
            margin-top: 15px;
        }
    }
    .selectParent {
      width: 160px;
      
      position: relative;
      &:before {
        width: 30px;
        height: 30px;
        content: "";
        top: -3px;
        z-index: 2;
        position: absolute;
        left: -34px;
        background-position: center;
        background: url(../images/logos/hurricane-h-tiny.png);
        background-size: contain;
      }
    }
    option {
        background: #111;
    }
    .selectParent select {
      text-indent: 1px;
      text-overflow: '';
      width: auto;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 1;
      font-weight: 800;
      padding:10px 2px;
      margin-right: 10px;
      border: none;
      color: #fff;
      background: transparent;
      position: relative;
      z-index: 1;
    }
    .selectParent:after {
      content: "";
      width: 26px;
      height: 30px;
      content: "";
      top: -1px;
      z-index: 0;
      position: absolute;
      background: transparent url(../images/down-icon.svg) no-repeat center center;
      background-size: contain;
      right: -5px;
    }
  }