<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body class="no-js">
  <div class="site">
    {%- include header-full-nav.html -%}
    <div class="hero hero-inner">
      <div class="hero-large-hexagon">
        <div class="hero-large-hexagon-content">
          <h1><span class="top-text">Family Owned </span>Since <span class="outline-text">1946</span></h1>
        </div>
        <div class="hero-large-hexagon-side">
         {%- comment -%} <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="100%" height="100%"
            viewBox="0 0 15.1602 53.7">
  <path d="M14.0952,23.065,0,0V53.7L14.0952,30.635A7.2584,7.2584,0,0,0,14.0952,23.065Z" style="fill: #fff"/>
          </svg> {%- endcomment -%}
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 225.7 800" preserveAspectRatio="none" width="100%" height="100%"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path fill="#fff" d="M210.06,342.64,0,0V800L210.06,455.87C230.91,421.6,230.91,378.4,210.06,342.64Z"/></g></g></svg>

        </div>
      </div>
      <div class="hero-right"></div>
    </div>
    <div class="intro-section intro-section-inner">
      <div class="intro-section-small">
        <div class="intro-section-small-content" data-aos="fade-up">
          <h2>Family Owned For Three Generations</h2>
        </div>
        <div class="intro-section-small-side intro-section-small-side-inner">
          {%- comment -%} <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="100%" height="100%"
            viewBox="0 0 15.1602 53.7">
              <path d="M1.065,30.635,15.16,53.7V0L1.065,23.065A7.2584,7.2584,0,0,0,1.065,30.635Z" style="fill: #222"/>
          </svg> {%- endcomment -%}
          <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 225.7 800"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path fill="#222" d="M15.64,457.36,225.7,800V0L15.64,344.13C-5.21,378.4-5.21,421.6,15.64,457.36Z"/></g></g></svg>
        </div>
      </div>
      <div class="intro-section-large">
        <div class="intro-section-large-text" c>
          <h4>Ken Lapain &amp; Sons LTD</h4>
          <h3>We Put Our History &amp; Experience Into Our Work</h3>
          <p>Founded as a trucking company over 70 years ago, Ken Lapain & Sons has a proven record of quality work and service. In the 1980s, the company expanded into heavy-duty truck repairs. In the following decade, sandblasting and painting became a cornerstone service. The expectation for high quality work and customer based service was established from the beginning and has allowed the business to grow into what it is today.</p>          
        </div>
      </div>
    </div>
   <div class="team-section">
       <div class="container-1200">
        <div class="content text-align-center" data-aos="fade-up">
          <h2 class="heading-main">The <span class="outline-text">Team</span></h2>
          <p class="margin-top-50">The team at Ken Lapain & Sons is comprised of members with a wide variety of skills that hold certifications and licenses in many fields.  Many of the team members have over 30 years of experience in their respected fields, allowing them to provide exceptional, quality service efficiently and safely.</p>
          {%- include stats.html -%}
        </div>
       
        
      </div>
    <div class="certifications">
      <div class="certifications-item">
        <img src="/assets/images/lapain/logos/drive-clean.png" alt="Drive Clean" style="max-height:100px;width:auto;" />
      </div>
      <div class="certifications-item">
        <img src="/assets/images/lapain/logos/truck-pro.png" alt="Truck Pro" />
      </div>
      <div class="certifications-item">
        <img src="/assets/images/lapain/logos/Dupont.png" alt="Dupont" />
      </div>
     <div class="certifications-item">
        <img src="/assets/images/lapain/logos/PPG.png" alt="PPG"/>
      </div>
    </div>
      </div>
    </div>
  
  <div class="flex-half">
    <div class="flex-half-item flex-center-vertical">
       <div class="cover-image">
        <img src="/assets/images/lapain/old-photo.jpg" alt="Ken Lapain &amp; Sons History" />
       </div> 
    </div>   
      <div class="flex-half-item flex-center-vertical grey-bg">
        <div class="content padding-100-all mobile-padding-section" data-aos="fade-up">
          <h4 class="heading-sub">A Name You Can Trust</h4>
          <h2 class="heading-main">Our <span class="outline-text">History</span></h2>
          <p class="margin-top-50">In the 1930s, Ken Lapain started working as a farmer and had a team of horses that were employed to help fix township roads. Once he was able to buy a truck, he started hauling coal in the winter and stone in the summer; this was the beginning of the family business. In the 1960s, Jim and Joe Lapain joined “Ken Lapain & Sons” driving trucks. In 1972, the business became Ken Lapain & Sons Ltd., a trucking company. From there, the company expanded to offer heavy-truck repairs in the Essex county area. In the 1990s, sandblasting and painting became part of the business and serviced the local manufacturing sectors. In 1998, a new repair facility was built. Since then, the entire business has continued to grow and expand year after year.</p>
        </div>
      </div>
    
    </div>
  </div>
  <div class="benifits benifits-blue">
    <div class="benifits-inner">
        <div class="benifits-title">
            <h2 class="heading-main" style="color:#fff;">What We Do</h2>
        </div>
        <div class="benifits-blocks">
            <a class="benifits-blocks-item" href="/services/full-service-garage/">
                <div class="benifits-blocks-item-inner">
                    <div class="benifits-blocks-item-icon">
                        <img src="/assets/images/icons/maintenance-icon.png" alt="Maintenance Icon" />
                    </div>
                    <div class="benifits-blocks-item-title">
                        <h2 class="heading-sub">Full Service Garage</h2>
                    </div>
                    <div class="benifits-blocks-item-content">
                        <ul>
                            <li>Inspections (MTO)</li>
                            <li>Safety Checks</li>
                            <li>Maintenance</li>
                            <li>Emissions Testing</li>
                        </ul>
                    </div>
                </div>
            </a>
            <a class="benifits-blocks-item" href="/services/fab-weld/">
                <div class="benifits-blocks-item-inner">
                    <div class="benifits-blocks-item-icon">
                        <img src="/assets/images/icons/welding-icon.png" alt="Fabrication Icon" />
                    </div>
                    <div class="benifits-blocks-item-title">
                        <h2 class="heading-sub">Fabrication &amp; Welding</h2>
                    </div>
                    <div class="benifits-blocks-item-content">
                        <ul>
                            <li>Welding</li>
                            <li>Fabrication</li>
                            <li>On-Site Services</li>
                        </ul>
                    </div>
                </div>
            </a>
            <a class="benifits-blocks-item" href="/services/sandblast-paint/">
                <div class="benifits-blocks-item-inner">
                    <div class="benifits-blocks-item-icon">
                        <img src="/assets/images/icons/paint-icon.png" alt="Paint Icon" />
                    </div>
                    <div class="benifits-blocks-item-title">
                        <h2 class="heading-sub">Sandblasting &amp; Painting</h2>
                    </div>
                    <div class="benifits-blocks-item-content">
                        <ul>
                            <li>Painting</li>
                            <li>Speciality Coatings</li>
                            <li>Sandblasting</li>
                        </ul>
                    </div>
                </div>
            </a>
            <a class="benifits-blocks-item" href="/services/body-shop/">
                <div class="benifits-blocks-item-inner">
                    <div class="benifits-blocks-item-icon">
                        <img src="/assets/images/icons/bodywork-icon.png" alt="Bodywork Icon" />
                    </div>
                    <div class="benifits-blocks-item-title">
                        <h2 class="heading-sub">Body Shop</h2>
                    </div>
                    <div class="benifits-blocks-item-content">
                        <ul>
                            <li>Fiberglass &amp; SMC Repair</li>
                            <li>Full Frame Repair</li>
                            <li>Boom &amp; Bucket Repair</li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
  <div class="book-now-wide">
    <div class="book-now-wide-item book-now-wide-item-text ">
        <h4 class="heading-sub">Get Started</h4>
        <h2 class="heading-main">Contact <span class="outline-text">Us</span></h2>
    </div>
    <div class="book-now-wide-item"><div data-micromodal-trigger="modal-1" class="btn btn-outline hvr-sweep-to-left-dark large-button-text">{{ site.phone }}</div></div>
    <div class="book-now-wide-item"><a href="mailto:jodie@lapain.ca" class="btn btn-outline hvr-sweep-to-left-dark large-button-text">jodie@lapain.ca</a></div>
  </div>
 {%- include clients-all.html -%}
 {%- include footer-simple.html -%}
  </div>
  
  
  
</body>
</html>