<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html photoswipe="true" -%}

<body>
  <div class="site">
    {%- include header-full-nav.html -%}

    <div class="hero hero-inner hero-bodyshop">
      <div class="hero-large-hexagon">
        <div class="hero-large-hexagon-content">
          <h1 class="mobile-large-heading"><span class="top-text">30+ Years Of </span>Body Shop <span class="outline-text">Experience</span></h1>
        </div>
        <div class="hero-large-hexagon-side">
          <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 282.12 1000"><defs><style>.cls-1{fill:#fff;}</style></defs><title>Asset 3</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M262.57,428.31,0,0V1000L262.57,569.83C288.64,527,288.64,473,262.57,428.31Z"/></g></g></svg>
        </div>
      </div>
      <div class="hero-right"></div>
    </div>
    <div class="intro-section intro-section-inner">
      <div class="intro-section-small">
        <div class="intro-section-small-content" data-aos="fade-up">
          <h2>In 30+ Years We've Seen &amp; Fixed It All</h2>
        </div>
        <div class="intro-section-small-side intro-section-small-side-inner">
          <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 225.7 800"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path fill="#222" d="M15.64,457.36,225.7,800V0L15.64,344.13C-5.21,378.4-5.21,421.6,15.64,457.36Z"/></g></g></svg>
        </div>
      </div>
      <div class="intro-section-large">
        <div class="intro-section-large-text" data-aos="fade-up">
          <h4>Ken Lapain &amp; Sons LTD</h4>
          <h3>Auto Body &amp; Collision Repair</h3>
          <p>At Ken Lapain & Sons, we are a full-service, PPG & Dupont-certified commercial and heavy equipment body shop. Our team of three auto body and collision damage technicians are fully licensed and have over 30 years of experience in the industry. Our team, combined with our Essex County-based shop, allow us to provide Southwestern Ontario with a variety of auto body repair services, including: fiberglass repairs, SMC repairs, full frame repairs, frame stretching, boom repairs, bucket repairs, and more. We welcome insurance claims and free estimates are available upon request. Contact us today to learn more and to get started.</p>
        </div>
      </div>
    </div>
    <div class="bodyshop">
    <div class="container-1200">
        <div class="content text-align-center" data-aos="fade-up">
            <h4 class="heading-sub">PPG &amp; Dupont Certified</h4>
            <h2 class="heading-main">Body Shop</h2>
            <p class="margin-top-50 margin-bottom-50">As a customer-first business, we make sure to only use the best materials and attain the proper training and certifications for our staff. We use PPG and Dupont products and our staff and facility are fully certified by each supplier. This ensures that we are always providing reliable, consistent service to our customers in every industry, regardless of the job type or size.</p>
        </div>
      <div class="grid grid-30-70 services-item" id="fiberglass" data-aos="fade-up">
        <div class="grid-item services-item-hex">
            <div class="hex-image-wrapper">
                  <div class="hex-image"><img src="/assets/images/lapain/hex/fiberglass.jpg" alt="Fiberglass &amp; SMC Repairs" /></div>
            </div>
        </div>
        <div class="grid-item">
            <div class="services-item-content">
                <h2>Fiberglass &amp; SMC Repairs</h2>
                <p>Since we opened our repair shop 30 years ago, one of the specialties of our auto body team has been fiberglass and SMC repair. Fiberglass and SMC repair requires the proper tools, equipment, training, and experience to be done correctly. Our facility is fully-equipped to handle almost any fiberglass or SMC repair in Southwestern Ontario and our experienced and certified team members will restore your commercial or heavy-duty vehicle to pre-accident condition.</p>
            </div>
        </div>
      </div>
      <div class="grid grid-70-30 services-item mobile-reverse" id="full-frame-repair" data-aos="fade-up">
        
        <div class="grid-item">
            <div class="services-item-content">
                <h2>Full Frame Repair &amp; Stretching</h2>
                <p>The body shop of our Essex County-based facility is equipped with a 20’ x 40’ in-floor frame rack. This industry-standard setup allows our experienced, licensed technicians to pull all collision damage repairs with confidence, restoring your vehicle to pre-accident condition.</p>
            </div>
        </div>
        <div class="grid-item services-item-hex">
            <div class="hex-image-wrapper">
                  <div class="hex-image"><img src="/assets/images/lapain/hex/frame-repair.jpg" alt="Frame Repair" /></div>
            </div>
        </div>
      </div>
      <div class="grid grid-30-70 services-item" id="bucket" data-aos="fade-up">
        <div class="grid-item services-item-hex">
            <div class="hex-image-wrapper">
                  <div class="hex-image"><img src="/assets/images/lapain/hex/boom-bucket.jpg" alt="Boom Bucket Truck" /></div>
            </div>
        </div>
        <div class="grid-item">
            <div class="services-item-content">
                <h2>Boom &amp; Bucket Repairs</h2>
                <p>Our team’s 30+ years of experience in the commercial and heavy-duty truck body shop industry makes us uniquely positioned to offer boom and bucket repairs to businesses in Essex County and Southwestern Ontario. Boom and bucket repairs have become one of our shop’s many specialties and we are proud to be one of the premier service providers in the area. Our team will quickly and efficiently get your boom or bucket truck back to working condition to minimize downtime.</p>
            </div>
        </div>
      </div>
    </div>
    </div>
    <div class="certified">
      <div class="certified-inner">
        <h2>Dupont &amp; PPG Certified</h2>
        <div class="certified-logos">
          <img src="/assets/images/logos/dupont.png" alt="Du Pont Certified" />
          <img src="/assets/images/logos/PPG.png" alt="PPG Certified Collision Repair Center" />
        </div>
      </div>
    </div>
     <div class="book-now-wide">
    <div class="book-now-wide-item book-now-wide-item-text ">
        <h4 class="heading-sub">Get In Touch</h4>
        <h2 class="heading-main">Talk To Our <span class="outline-text">Team</span></h2>
    </div>
    <div class="book-now-wide-item"><div data-micromodal-trigger="modal-1" class="btn btn-outline hvr-sweep-to-left-dark large-button-text">{{ site.phone }}</div></div>
    <div class="book-now-wide-item"><a href="mailto:jodie@lapain.ca" class="btn btn-outline hvr-sweep-to-left-dark large-button-text">jodie@lapain.ca</a></div>
  </div>
    {%- include gallery-slider.html category="bodyshop" title="Body Shop" -%}
    {%- include link-boxes.html -%}
    {%- include certifications.html -%}
   
  </div>
  
  {%- include footer-simple.html photoswipe="true" -%}
   {%- include photoswipe.html -%}
</body>

</html>