<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>
  <div class="site">
    {%- include header-full-nav.html -%}

    <div class="hero hero-inner">
      <div class="hero-large-hexagon">
        <div class="hero-large-hexagon-content">
          <h1 class="mobile-large-heading">Cleaning &amp; <span class="outline-text">Repairs</span></h1>
        </div>
        <div class="hero-large-hexagon-side">
          <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 282.12 1000"><defs><style>.cls-1{fill:#fff;}</style></defs><title>Asset 3</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M262.57,428.31,0,0V1000L262.57,569.83C288.64,527,288.64,473,262.57,428.31Z"/></g></g></svg>
        </div>
      </div>
      <div class="hero-right"></div>
    </div>
    <div class="intro-section intro-section-inner">
      <div class="intro-section-small">
        <div class="intro-section-small-content" data-aos="fade-up">
          <h2>24 Hour Emergency Services</h2>
        </div>
        <div class="intro-section-small-side intro-section-small-side-inner">
          <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 225.7 800"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path fill="#222" d="M15.64,457.36,225.7,800V0L15.64,344.13C-5.21,378.4-5.21,421.6,15.64,457.36Z"/></g></g></svg>
        </div>
      </div>
      <div class="intro-section-large">
        <div class="intro-section-large-text" data-aos="fade-up">
          <h4>Emergency Services &amp; Scheduled Maintenance</h4>
          <h3>Improve Efficiency. Extend Lifespan.</h3>
          <p>Our highly trained team of experts are well equipped to perform several inspection and testing services for your sanitary and storm sewer systems including but not limited to; CCTV & Lateral Launch inspections through to Fog, Air and Mandrel testing.  We're also equipped and experienced in developing and executing sewer inspection programs.</p>
        </div>
      </div>
    </div>
    <div class="services-excavation">
    <div class="container-1200">
      <div class="grid grid-30-70 services-item" id="flushing-cleaning" data-aos="fade-up">
        <div class="grid-item services-item-hex">
            <div class="hex-image-wrapper">
                  <div class="hex-image"><img src="/assets/images/backgrounds/hex-truck-3.jpg" alt="Hydrovac Truck" /></div>
            </div>
        </div>
        <div class="grid-item">
            <div class="services-item-content">
                <h2>Flushing &amp; Cleaning</h2>
                <p>Our fleet of combination flusher units provide flexibility, with their adjustable high-pressure cleaning of any sanitary and storm sewer systems, drains manholes, and catch basins.  The flusher units use high-pressure water in conjunction with the powerful vacuum systems to quickly and efficiently clear blocked lines and remove debris, sludge, organics, and more. Flushing can be used as part of a maintenance program or in emergencies through our 24 hour, 7 day a week emergency service.</p>
            </div>
        </div>
      </div>
      <div class="grid grid-70-30 services-item mobile-reverse" id="trenchless-repairs" data-aos="fade-up">
        
        <div class="grid-item">
            <div class="services-item-content">
                <h2>Trenchless Repairs</h2>
                <p>Trenchless repairs use a variety of methods, materials, equipment and construction techniques to install, replace, or repair underground infrastructure such as sanitary and storm with minimal intrusion and disturbance to surrounding areas.  The result is fast, efficient and cost-effective repairs when compared to traditional open pit and trench excavation repairs. These repairs, when coupled with a regular maintenance and inspection program, can extend the life of existing sanitary and sewer infrastructure.</p>
            </div>
        </div>
        <div class="grid-item services-item-hex">
            <div class="hex-image-wrapper">
                  <div class="hex-image"><img src="/assets/images/backgrounds/hex-truck-3.jpg" alt="Hydrovac Truck" /></div>
            </div>
        </div>
      </div>
      <div class="grid grid-30-70 services-item" id="chemical-grouting" data-aos="fade-up">
        <div class="grid-item services-item-hex">
            <div class="hex-image-wrapper">
                  <div class="hex-image"><img src="/assets/images/backgrounds/hex-truck-3.jpg" alt="Hydrovac Truck" /></div>
            </div>
        </div>
        <div class="grid-item">
            <div class="services-item-content">
                <h2>Chemical Grouting</h2>
                <p>This type of repair can fix both infiltration and exfiltration issues at joints, connections and cracks.  It seals the line/pipe from the inside out by permeating into the external soil and voids around the leak. Once the problem area is isolated, a tool applies pressure forcing the chemical grout compound through the joints and crack creating a watertight seal.</p>
            </div>
        </div>
      </div>
    </div>
    </div>
   <div class="inspection-programs" id="inspection">
    <div class="container-1200">
        <div class="inspection-programs-content">
          <h4 class="heading-sub">Maintenance Programs</h4>
          <h2 class="heading-main">Well equipped and experienced in developing and executing sewer maintenance programs</h2>
          <div class="btn btn-outline hvr-sweep-to-left-dark large-button-text" data-micromodal-trigger="modal-1">Contact Us</div>
        </div>
    </div>
    </div>
  <div class="flex-half bg-light-grey">   
        <div class="flex-half-item flex-center-vertical">
          <div class="content padding-100-all mobile-padding-section" data-aos="fade-up">
           <h2 class="heading-main">Inspections &amp; Testing</h2>
            <p class="margin-top-50">Our cleaning and repair services are often provided in combination with our inspection and testing services. Using our fleet of equipment including mainline cameras equipped with lateral launch capabilities we're able to inspect, test and analyze sewer and sanitary systems which in turn creates directives for maintenance, cleaning and repairs.</p>
            <ul class="services-list margin-bottom-50">
             <li>Video (CCTV Inspection)</li>
              <li>Lateral Launch Inspections</li>
              <li>Fog Testing</li>
              <li>Air Testing</li>
              <li>Mandrel Testing</li>
            </ul>
            {% include arrow-link.html url="/services/inspections-testing/" text="Learn More" %}
          </div>
        </div>
        <div class="flex-half-item flex-center-vertical">
            <div class="cover-image">
                <img src="/assets/images/hydrovac/gallery-placeholder.jpg" alt="Hurricane Hydrovac Fleet" />
            </div>
        </div>
      </div>
  </div>
  {%- include footer-simple.html -%}
</body>

</html>