<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>
  <div class="site">
    {%- include header.html -%}
    <div class="hero hero-inner">
      <div class="hero-large-hexagon">
        <div class="hero-large-hexagon-content">
          <h1>Our <span class="outline-text">Companies</span><span class="top-text">Industry Leaders</span></h1>
        </div>
        <div class="hero-large-hexagon-side">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 225.7 800" preserveAspectRatio="none" width="100%" height="100%"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path fill="#fff" d="M210.06,342.64,0,0V800L210.06,455.87C230.91,421.6,230.91,378.4,210.06,342.64Z"/></g></g></svg>

        </div>
      </div>
      <div class="hero-right"></div>
    </div>
    <div class="intro-section intro-section-inner">
      <div class="intro-section-small">
        <div class="intro-section-small-content" data-aos="fade-up">
          <h2>Commitment To Safety and Quality</h2>
        </div>
        <div class="intro-section-small-side intro-section-small-side-inner">
          <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 225.7 800"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path fill="#222" d="M15.64,457.36,225.7,800V0L15.64,344.13C-5.21,378.4-5.21,421.6,15.64,457.36Z"/></g></g></svg>
        </div>
      </div>
      <div class="intro-section-large">
        <div class="intro-section-large-text" data-aos="fade-up">
          <h4>The Hurricane Group</h4>
          <h3>Names You Can Trust</h3>
          <p>The Hurricane Group is comprised of Hurricane Hydrovac, Hurricane SMS, Heaton Sanitation and Ken Lapain & Sons Ltd. With over 50 years of operational excellence, these four companies share one defining vision; to provide exceptional service through experience and versatility.  All of our companies hold the highest standards when it comes to both quality and safety.</p>
        </div>
      </div>
    </div>
    <div class="inner-companies">
      <div class="red-heading text-align-center container-1200" data-aos="fade-up">
          <h4>50+ Years of Experience</h4>
          <h2>Our <span class="outline-text">Companies</span></h2>
          <p class="text-align-center">Our companies provide a variety of services across a range of industries.  From hydro excavation to sewer maintenance, sanitation and commercial vehicle repair services our teams are there to work with you, our clients, to provide quality solutions delivered by experts. </p>
      </div>
      <div class="inner-companies-wrapper wrapper-top">
        <div class="container-1400">
          <div class="company" id="hydrovac" data-aos="fade-up">
            <div class="company-image">
              <div class="hex-wrapper">
                <div class="hex">
                  <div class="hex-image"><img src="/assets/images/backgrounds/hex-truck-1.jpg" alt="Hydrovac Truck" /></div>
                  <div class="hex-logo">
                    <img src="/assets/images/logos/hurricane/hurricane-hydrovac-tall-white.svg" alt="Hurricane Hydrovac Logo" />
                  </div>
                </div>
              </div>
            </div>
            <div class="company-description">
              <h2>Hurricane Hydrovac</h2>
              <p>As one of Southern Ontario's fastest-growing hydro excavation companies Hurricane Hydrovac specializes in non-destructive excavation using high-pressure water and a vacuum to loosen and remove soil, stone and any other debris or materials from the desired area.  We also specialize in septic and liquid waste removal and disposal, sewer and catch basin cleaning, and wet or dry industrial cleaning. This combination of services makes Hurrican Hydrovac the number one solution for utility and sewer maintenance and rehabilitation.</p>
               <a class="link link--arrowed bold-link" href="https://hurricanehydrovac.ca">Visit Website
    <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
      <g fill="none" stroke="#222" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10">
        <circle class="arrow-icon--circle" cx="16" cy="16" r="15.12"></circle>
        <path class="arrow-icon--arrow" d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98"></path>
      </g>
    </svg></a>
            </div>
          </div>
          <div class="company" id="sms" data-aos="fade-up">
            <div class="company-image">
              <div class="hex-wrapper">
                <div class="hex">
                  <div class="hex-image"><img src="/assets/images/backgrounds/hex-hose.jpg" alt="Hydrovac Hose" /></div>
                  <div class="hex-logo">
                    <img src="/assets/images/logos/hurricane/hurricane-sms-tall-white.svg" alt="Hurricane Hydrovac Logo" />
                  </div>
                </div>
              </div>
            </div>
            <div class="company-description">
              <h2>Hurricane SMS</h2>
              <p>Complimenting offerings by the hydrovac division, Hurricane SMS provides a wide range of sewer maintenance services across Southwestern Ontario. Using top of the line equipment, we specialize in flush and video (CCTV inspections), Fog Testing, Grouting, Mandrel, Air Testing, and Trenchless Repair. Our experienced team can custom develop and deliver a full sewer inspection program.  All of our camera operators are MACP, LACP, & PACP Certified.</p>
              <a class="link link--arrowed bold-link" href="/companies/">Visit Website
    <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
      <g fill="none" stroke="#222" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10">
        <circle class="arrow-icon--circle" cx="16" cy="16" r="15.12"></circle>
        <path class="arrow-icon--arrow" d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98"></path>
      </g>
    </svg></a>
            </div>
          </div>
        </div>
      </div>
      <div class="inner-companies-wrapper wrapper-bottom">
        <div class="container-1400">
          <div class="company" id="heaton" data-aos="fade-up">
            <div class="company-image">
              <div class="hex-wrapper">
                <div class="hex">
                  <div class="hex-image"><img src="/assets/images/backgrounds/hex-truck-2.jpg" alt="Hydrovac Truck" /></div>
                  <div class="hex-logo">
                    <img src="/assets/images/logos/hurricane/heaton-sanitation-white.svg" alt="Heaton Sanitation Logo" />
                  </div>
                </div>
              </div>
            </div>
            <div class="company-description">
              <h2>Heaton Sanitation</h2>
              <p>With over 55 years of experience, Heaton Sanitation is a proven name in the Southwestern Ontario, especially the Windsor region, for all septic and waste removal services. Speciality services the company can provide includes grease trap cleaning, holding tank cleaning, septic tank inspections and cleaning, as well as oil removal.</p>
               <a class="link link--arrowed bold-link" href="/companies/">Visit Website
    <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
      <g fill="none" stroke="#222" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10">
        <circle class="arrow-icon--circle" cx="16" cy="16" r="15.12"></circle>
        <path class="arrow-icon--arrow" d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98"></path>
      </g>
    </svg></a>
            </div>
          </div>
          <div class="company" id="lapain" data-aos="fade-up">
            <div class="company-image">
              <div class="hex-wrapper">
                <div class="hex">
                  <div class="hex-image"><img src="/assets/images/backgrounds/hex-truck-3.jpg" alt="Hydrovac Truck" /></div>
                  <div class="hex-logo">
                    <img src="/assets/images/logos/hurricane/lapain-white.svg" alt="Ken Lapain and Sons Ltd Logo" />
                  </div>
                </div>
              </div>
            </div>
            <div class="company-description">
              <h2>Ken Lapain &amp; Sons Ltd.</h2>
              <p>In business for over 70 years, Ken Lapain and Sons Ltd. runs a well-equipped facility which has the capabilities to service and repair any commercial and heavy-duty vehicles and equipment.  This facility houses a full-service garage, fabrication and welding shop, body shop, and one of the largest sandblasting and paint facilities in Southwestern Ontario.  Servicing fleets as well as owner-operators Ken Lapain is a one-stop destination in Southwestern Ontario for any and all commercial and heavy-duty vehicle repairs. </p>
               <a class="link link--arrowed bold-link" href="https://www.lapain.ca/">Visit Website
    <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
      <g fill="none" stroke="#222" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10">
        <circle class="arrow-icon--circle" cx="16" cy="16" r="15.12"></circle>
        <path class="arrow-icon--arrow" d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98"></path>
      </g>
    </svg></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {%- include clients.html -%}
    <div class="faded-page-preview faded-page-preview-company">
      <div class="faded-page-preview-left">
        <div class="red-heading" data-aos="fade-up">
          <h4>The Hurricane Group</h4>
          <h2>Meet Our <span class="outline-text">Team</span></h2>
          <div class="learn-more"><a class="link link--arrowed" href="/team/">Learn More
    <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
      <g fill="none" stroke="#222" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10">
        <circle class="arrow-icon--circle" cx="16" cy="16" r="15.12"></circle>
        <path class="arrow-icon--arrow" d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98"></path>
      </g>
    </svg></a></div>
        </div>
      </div>
      <div class="faded-page-preview-right"></div>
    </div>
  </div>
  {%- include footer.html -%}
</body>
</html>