<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>
  <div class="site">
    {%- include header-full-nav.html -%}

    <div class="hero hero-inner">
      <div class="hero-large-hexagon">
        <div class="hero-large-hexagon-content">
          <h1 class="mobile-large-heading">Hydro Excavation<span class="top-text">Services</span></h1>
        </div>
        <div class="hero-large-hexagon-side">
          <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 282.12 1000"><defs><style>.cls-1{fill:#fff;}</style></defs><title>Asset 3</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M262.57,428.31,0,0V1000L262.57,569.83C288.64,527,288.64,473,262.57,428.31Z"/></g></g></svg>
        </div>
      </div>
      <div class="hero-right"></div>
    </div>
    <div class="intro-section intro-section-inner">
      <div class="intro-section-small">
        <div class="intro-section-small-content" data-aos="fade-up">
          <h2>24 Hour Emergency Services</h2>
        </div>
        <div class="intro-section-small-side intro-section-small-side-inner">
          <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 225.7 800"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path fill="#222" d="M15.64,457.36,225.7,800V0L15.64,344.13C-5.21,378.4-5.21,421.6,15.64,457.36Z"/></g></g></svg>
        </div>
      </div>
      <div class="intro-section-large">
        <div class="intro-section-large-text" data-aos="fade-up">
          <h4>Hurricane Hydrovac</h4>
          <h3>Clean. Safe. Precise.</h3>
          <p> Hydro Excavation is proven to be the cleanest, safest and most versatile ways to dig, making it a substitution for many traditional excavation applications. It's also the most efficient method of excavation for daylighting, line locating, trenching, post/pole holes and more. At Hurricane, we provide our full range of services to municipal, industrial, construction and commercial clients, at competitive pricing. Contact us to discuss your project needs and experience the Hurricane difference.</p>
        </div>
      </div>
    </div>
    <div class="services-excavation">
    <div class="services-excavation-extra">
    <div class="container-1200">
        <div class="margin-bottom-50  content" data-aos="fade-up">
            <h4 class="heading-sub text-align-center ">Hydro Excavation Services</h4>
            <h2 class="heading-main text-align-center ">Experience &amp; <span class="outline-text">Expertise</span></h2>
            <p class="margin-top-50">Hydro excavation is a non-destructive, non-mechanical excavation which uses high-pressure water to loosen and remove dirt and stone and simultaneously creates a slurry mixture which a power vacuum moves into a truck-mounted tank.  Once the truck is full, the materials move from the site to an approved facility.  </p>
            <p class="margin-top-50">Since hydro excavation is so versatile, precise and non-destructive, it's the preferred method to quickly and safely excavate in areas with delicate or concentrated underground infrastructure, including areas where utilities and pipes or traditional mechanical equipment could compromise safety or cause damage. Hydro excavation's versatility enables excavation where traditional equipment wouldn't be feasible to use due to spatial constraints, remote locations, fragile surroundings and weather conditions. </p>
            <p class="margin-top-50">Hurricane's over 50 years in the construction, excavation and hydrovac industry make us one of the premier hydro excavation companies in Windsor, London, and Southwestern Ontario. <strong>Learn more about our specific hydro excavation services below.</strong></p>
        </div>
      <div class="grid grid-30-70 services-item" id="daylighting" data-aos="fade-up">
        <div class="grid-item services-item-hex">
            <div class="hex-image-wrapper">
                  <div class="hex-image"><img src="/assets/images/backgrounds/hex-truck-3.jpg" alt="Hydrovac Truck" /></div>
            </div>
        </div>
        <div class="grid-item">
            <div class="services-item-content">
                <h2>Daylighting / Line Locating</h2>
                <p>Daylighting and line locating expose and uncover underground utilities, including pipes, lines, cables, wires, and crossings using hydro excavation.  It's more practical, efficient and mitigates damage to underground utility infrastructure when compared even to hand digging. Daylighting and line locating can be used not only as an alternative to traditional mechanical excavation but as an aid to provide safe views of underground infrastructure and allow mechanical equipment to operate safely and expediently, resulting in lower project costs.</p>
            </div>
        </div>
      </div>
      <div class="grid grid-70-30 services-item mobile-reverse" id="slot-trenching" data-aos="fade-up">
        
        <div class="grid-item">
            <div class="services-item-content">
                <h2>Slot Trenching</h2>
                <p>Slot trenching uses our equipment to dig a very precise trench for cables and utilities.  It offers maximum accuracy and precision with little disturbance to the surrounding area while mitigating the chance of damage to existing underground infrastructure.  Slot trenching is also advantageous when working in areas where conventional mechanical excavation equipment can't get access due to existing infrastructure or site restrictions. </p>
            </div>
        </div>
        <div class="grid-item services-item-hex">
            <div class="hex-image-wrapper">
                  <div class="hex-image"><img src="/assets/images/backgrounds/hex-truck-3.jpg" alt="Hydrovac Truck" /></div>
            </div>
        </div>
      </div>
      <div class="grid grid-30-70 services-item" id="post-pole" data-aos="fade-up">
        <div class="grid-item services-item-hex">
            <div class="hex-image-wrapper">
                  <div class="hex-image"><img src="/assets/images/backgrounds/hex-truck-3.jpg" alt="Hydrovac Truck" /></div>
            </div>
        </div>
        <div class="grid-item">
            <div class="services-item-content">
                <h2>Post & Pole Holes</h2>
                <p>Our hydrovac trucks can create the perfectly placed hole for poles, posts and piles without restriction from time of year or weather.  A clean and precise excavation means minimal disturbance with little backfilling and compacting required. It's ideal for areas with dense infrastructure both above and below ground or high traffic, space constricted areas where multiple pieces of equipment aren't feasible. Our earth hydro excavation function services are perfect for any kind of posts, poles and signs including power and telecom poles, traffic signals, light standards, and more. </p>
            </div>
        </div>
      </div>
      <div class="grid grid-70-30 services-item mobile-reverse" id="dry-suction" data-aos="fade-up">
        
        <div class="grid-item">
            <div class="services-item-content">
                <h2>Dry Suction Excavation / Air Spade</h2>
                <p>The top of the line fleet of equipment at Hurricane includes dry air suction and excavation tools.  Rather than using water, like traditional hydro excavation, dry suction excavation uses suction only (for loose or liquid materials) or high-pressure air via an air spade/lance to break down the soil and material simultaneously with vacuum suction to evacuate the material into the trucks storage unit.  Since this material is dry, it can either be removed to an approved off-site location or moved to another location on site.  Dry vac excavation has a wide variety of uses across utility and engineering, roadwork, rail, industrial, construction and landscape sites. </p>
            </div>
        </div>
        <div class="grid-item services-item-hex">
            <div class="hex-image-wrapper">
                  <div class="hex-image"><img src="/assets/images/backgrounds/hex-truck-3.jpg" alt="Hydrovac Truck" /></div>
            </div>
        </div>
      </div>
      <div class="grid grid-30-70 services-item" id="backfilling" data-aos="fade-up">
        <div class="grid-item services-item-hex">
            <div class="hex-image-wrapper">
                  <div class="hex-image"><img src="/assets/images/backgrounds/hex-truck-3.jpg" alt="Hydrovac Truck" /></div>
            </div>
        </div>
        <div class="grid-item">
            <div class="services-item-content">
                <h2>Backfilling &amp; Restoration</h2>
                <p>With an experienced team, and years of construction and excavation knowledge behind us we're able to provide any service related to backfilling and restoration including recycled soil, unshrinkable fill, asphalt and concrete works.</p>
            </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  {%- include benifits.html -%}
  {%- include book-now.html -%}
  <div class="flex-half bg-light-grey">   
        <div class="flex-half-item flex-center-vertical">
          <div class="content padding-100-all mobile-padding-section" data-aos="fade-up">
            <h4 class="heading-sub">Facility &amp; Infrastructure</h4>
            <h2 class="heading-main">Maintenance</span></h2>
            <p class="margin-top-50">Along with all hydro excavation services, we also offer a number of facility and maintenance services using our extensive fleet of hydro vac equipment and experienced team of operators. Services include the following:</p>
            <ul class="services-list margin-bottom-50">
              <li>Liquid Waste Removal</li>
              <li>Sewer Flushing &amp; Catch Basin Cleaning</li>
              <li>Wet &amp; Dry Industrial Cleaning</li>    
            </ul>
            {% include arrow-link.html url="/services/maintenance" text="View Maintenance Services" %}
          </div>
        </div>
        <div class="flex-half-item flex-center-vertical">
            <div class="cover-image">
                <img src="/assets/images/hydrovac/gallery-placeholder.jpg" alt="Hurricane Hydrovac Fleet" />
            </div>
        </div>
      </div>
  </div>
  {%- include footer-simple.html -%}
</body>

</html>