<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html photoswipe="true" -%}

<body>
  <div class="site">
    {%- include header-full-nav.html -%}

    <div class="hero hero-inner hero-welding">
      <div class="hero-large-hexagon">
        <div class="hero-large-hexagon-content">
          <h1 class="mobile-large-heading">Fabrication <span class="outline-text">&amp; Welding</span></h1>
        </div>
        <div class="hero-large-hexagon-side">
          <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 282.12 1000"><defs><style>.cls-1{fill:#fff;}</style></defs><title>Asset 3</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M262.57,428.31,0,0V1000L262.57,569.83C288.64,527,288.64,473,262.57,428.31Z"/></g></g></svg>
        </div>
      </div>
      <div class="hero-right"></div>
    </div>
    <div class="intro-section intro-section-inner">
      <div class="intro-section-small">
        <div class="intro-section-small-content" data-aos="fade-up">
          <h2>Full Service Fab &amp; Weld Shop</h2>
        </div>
        <div class="intro-section-small-side intro-section-small-side-inner">
          <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 225.7 800"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path fill="#222" d="M15.64,457.36,225.7,800V0L15.64,344.13C-5.21,378.4-5.21,421.6,15.64,457.36Z"/></g></g></svg>
        </div>
      </div>
      <div class="intro-section-large">
        <div class="intro-section-large-text" data-aos="fade-up">
          <h4>Ken Lapain &amp; Sons LTD</h4>
          <h3>Full Service Welding Repair and Fabrication Division</h3>
          <p>Our custom fabrication and welding division is equipped to tackle all jobs, large and small. We specialize in gas metal arc welding and shield metal arc welding, as well as TIG welding, working with steel, aluminum and stainless materials. We do on-site welding repairs, fabrication jobs, and installation. Pellentesque molestie, ex commodo commodo interdum, metus sem efficitur erat, eget eleifend enim nulla in odio. In sit amet finibus velit.</p>
        </div>
      </div>
    </div>
    <div class="welding">
    <div class="container-1200">
        <div class="content text-align-center" data-aos="fade-up">
            <h4 class="heading-sub">Large &amp; Small</h4>
            <h2 class="heading-main">We Tackle All Jobs, Large &amp; Small</h2>
            <p class="margin-top-50 margin-bottom-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent scelerisque, nisi eget porta dapibus, tortor nisi scelerisque lectus, eget egestas velit risus sit amet mauris. Donec scelerisque in risus vitae semper.Proin nisl neque, efficitur ut nunc sit amet, viverra consectetur magna. Vivamus tincidunt mi a tortor congue, ut sodales massa efficitur. Cras a augue maximus mauris commodo tempor sed nec ligula. Ut tincidunt nec magna et interdum.</p>
        </div>
      <div class="grid grid-30-70 services-item" id="fabrication" data-aos="fade-up">
        <div class="grid-item services-item-hex">
            <div class="hex-image-wrapper">
                  <div class="hex-image"><img src="/assets/images/lapain/hex/fabrication.jpg" alt="Fabrication" /></div>
            </div>
        </div>
        <div class="grid-item">
            <div class="services-item-content">
                <h2>Custom Fabrication</h2>
                <p>Our custom fabrication and welding division is equipped to tackle all jobs, large and small. We specialize in gas metal arc welding and shield metal arc welding, as well as TIG welding, working with steel, aluminum and stainless materials. We do on-site welding repairs, fabrication jobs, and installation. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent scelerisque, nisi eget porta dapibus, tortor nisi scelerisque lectus, eget egestas velit risus sit amet mauris.</p>
            </div>
        </div>
      </div>
      <div class="grid grid-70-30 services-item mobile-reverse" id="full-frame-repair" data-aos="fade-up">
        
        <div class="grid-item">
            <div class="services-item-content">
                <h2>Welding / Welding Repair</h2>
                <p>Our custom fabrication and welding division is equipped to tackle all jobs, large and small. We specialize in gas metal arc welding and shield metal arc welding, as well as TIG welding, working with steel, aluminum and stainless materials. We do on-site welding repairs, fabrication jobs, and installation. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent scelerisque, nisi eget porta dapibus, tortor nisi scelerisque lectus, eget egestas velit risus sit amet mauris.</p>
            </div>
        </div>
        <div class="grid-item services-item-hex">
            <div class="hex-image-wrapper">
                  <div class="hex-image"><img src="/assets/images/lapain/hex/welding.jpg" alt="Welding" /></div>
            </div>
        </div>
      </div>
    </div>
    </div>
   
    <div class="book-now-wide">
    <div class="book-now-wide-item book-now-wide-item-text ">
        <h4 class="heading-sub">Get In Touch</h4>
        <h2 class="heading-main">Talk To Our <span class="outline-text">Team</span></h2>
    </div>
    <div class="book-now-wide-item"><div data-micromodal-trigger="modal-1" class="btn btn-outline hvr-sweep-to-left-dark large-button-text">519.796.9259</div></div>
    <div class="book-now-wide-item"><a href="mailto:jodie@lapain.ca" class="btn btn-outline hvr-sweep-to-left-dark large-button-text">jodie@lapain.ca</a></div>
  </div>
    {%- include gallery.html category="bodyshop" title="Fabrication &amp; Welding"  %}
    {%- include link-boxes.html -%}
    {%- include certifications.html -%}
   
  </div>
  
  {%- include footer-simple.html photoswipe="true" -%}
   {%- include photoswipe.html -%}
</body>

</html>