<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html photoswipe="true" -%}

<body>
  <div class="site">
    {%- include header-full-nav.html -%}

    <div class="hero hero-inner hero-garage">
      <div class="hero-large-hexagon">
        <div class="hero-large-hexagon-content">
          <h1 class="mobile-large-heading"><span class="top-text">Truck &amp; Trailer </span>Full Service <span class="outline-text">Garage</span></h1>
        </div>
        <div class="hero-large-hexagon-side">
          <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 282.12 1000"><defs><style>.cls-1{fill:#fff;}</style></defs><title>Asset 3</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M262.57,428.31,0,0V1000L262.57,569.83C288.64,527,288.64,473,262.57,428.31Z"/></g></g></svg>
        </div>
      </div>
      <div class="hero-right"></div>
    </div>
    <div class="intro-section intro-section-inner">
      <div class="intro-section-small">
        <div class="intro-section-small-content" data-aos="fade-up">
          <h2>5900+ jobs done in the past year - and counting</h2>
        </div>
        <div class="intro-section-small-side intro-section-small-side-inner">
          <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 225.7 800"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path fill="#222" d="M15.64,457.36,225.7,800V0L15.64,344.13C-5.21,378.4-5.21,421.6,15.64,457.36Z"/></g></g></svg>
        </div>
      </div>
      <div class="intro-section-large">
        <div class="intro-section-large-text" data-aos="fade-up">
          <h4>Ken Lapain &amp; Sons LTD</h4>
          <h3>Truck &amp; Trailer Service for Fleet Managers and Owner-Operators</h3>
          <p>Our 16,000 square foot, fully-licensed service garage is capable of handling all medium and heavy vehicle, truck, and trailer repairs. We service fleets of all sizes, as well as independent owner-operator vehicles. We offer a variety of services, including: annual MTO inspections, safety checks, preventative maintenance services and inspections, emissions testing for heavy vehicles, and regular lube, oil, and filter services.</p>
        </div>
      </div>
    </div>
    <div class="garage">
    <div class="container-1200">
        <div class="content text-align-center" data-aos="fade-up">
            <h4 class="heading-sub">Fully Licensed</h4>
            <h2 class="heading-main">Service Garage</h2>
            <p class="margin-top-50 margin-bottom-50">We service and repair commercial and heavy-duty vehicles of all types and sizes, including: aerial devices, pumper trucks, farm equipment, and specialty equipment. We are spring and alignment specialists and have all the necessary equipment on site to take care of your needs quickly and efficiently, ensuring limited down time for you and your business. We successfully completed over 5,900 of these jobs in the past year alone.</p>
        </div>
      <div class="grid grid-30-70 services-item" id="inspections" data-aos="fade-up">
        <div class="grid-item services-item-hex">
            <div class="hex-image-wrapper">
                  <div class="hex-image"><img src="/assets/images/lapain/hex/inspections.jpg" alt="Insepctions and Safety Checks" /></div>
            </div>
        </div>
        <div class="grid-item">
            <div class="services-item-content">
                <h2>Inspections, Safety Checks &amp; Emissions Testing</h2>
                <p>Our team of experienced heavy-duty and commercial mechanics carry out annual MTO inspections, safety checks, preventative maintenance services and inspections, emissions testing for heavy vehicles, and regular lube, oil, and filter services.</p>
            </div>
        </div>
      </div>
      <div class="grid grid-70-30 services-item mobile-reverse" id="equipment" data-aos="fade-up">
        
        <div class="grid-item">
            <div class="services-item-content">
                <h2>Farm, Construction &amp; Specialty Equipment</h2>
                <p>Our team of fully-licensed, experienced mechanics are able to service and repair multiple types of specialty equipment. This includes, but is not limited to: aerial devices, pumper trucks, farm equipment, and other specialty equipment. Our years of experience and expertise make us one of Ontario’s best, most reliable shops for the service of specialty vehicles. This ensures that the equipment you and your business require is back up and running properly - the first time.</p>
            </div>
        </div>
        <div class="grid-item services-item-hex">
            <div class="hex-image-wrapper">
                  <div class="hex-image"><img src="/assets/images/lapain/hex/equipment.jpg" alt="Farm Equipment" /></div>
            </div>
        </div>
      </div>
      <div class="grid grid-30-70 services-item" id="alignment" data-aos="fade-up">
        <div class="grid-item services-item-hex">
            <div class="hex-image-wrapper">
                  <div class="hex-image"><img src="/assets/images/lapain/hex/alignment.jpg" alt="Alignment Specialists" /></div>
            </div>
        </div>
        <div class="grid-item">
            <div class="services-item-content">
                <h2>Spring &amp; Alignment Specialists</h2>
                <p>Since the 1980s, we have been recognized as spring and alignment specialists in the Essex County area and Southwestern Ontario. Our expertise lies specifically in commercial and heavy-duty vehicles of all sizes and types. Our certified, experienced commercial and heavy-duty service technicians are equipped, on-site, with the necessary equipment required to take care of your vehicle’s needs quickly and promptly. This helps us ensure limited downtime for you and your business.</p>
            </div>
        </div>
      </div>
    </div>
    </div>
    <div class="fleets">
        <div class="container-1200">
            <div class="fleets-inner">
                <h4 class="heading-sub">Truck &amp; Trailer Services</h4>
                <h2 class="heading-main">For Fleets &amp; <br>Owner-Operators</h2>
               
                <p class="margin-bottom-50">As a TruckPro Certified service shop, we are a trusted truck and trailer service provider for fleet owners and owner-operators alike. Ken Lapain & Sons began as a trucking company in 1972, giving us first-hand insight into the needs of the trucking community for both fleets and owner-operators. We’ve been putting that insight to work for you since our repair shop opened in 1980.</p>
                <img src="/assets/images/logos/Truck-Pro.png" alt="Truck Pro" />
            </div>
        </div>
    </div>

    <div class="book-now-wide">
    <div class="book-now-wide-item book-now-wide-item-text ">
        <h4 class="heading-sub">Get In Touch</h4>
        <h2 class="heading-main">Schedule <span class="outline-text">Service</span></h2>
    </div>
    <div class="book-now-wide-item"><div data-micromodal-trigger="modal-1" class="btn btn-outline hvr-sweep-to-left-dark large-button-text">519.796.9259</div></div>
    <div class="book-now-wide-item"><a href="mailto:jodie@lapain.ca" class="btn btn-outline hvr-sweep-to-left-dark large-button-text">jodie@lapain.ca</a></div>
  </div>
    {%- include gallery.html category="garage" title="Full Service Garage"  -%}
    {%- include link-boxes.html -%}
    {%- include certifications.html -%}
   
  </div>
  
  {%- include footer-simple.html photoswipe="true" -%}
   {%- include photoswipe.html -%}
</body>

</html>