<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html photoswipe="true" -%}

<body>
  <div class="site">
    {%- include header-full-nav.html -%}

    <div class="hero hero-inner hero-garage">
      <div class="hero-large-hexagon">
        <div class="hero-large-hexagon-content">
          <h1 class="mobile-large-heading"><span class="top-text">Truck &amp; Trailer </span>Full Service <span class="outline-text">Garage</span></h1>
        </div>
        <div class="hero-large-hexagon-side">
          <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 282.12 1000"><defs><style>.cls-1{fill:#fff;}</style></defs><title>Asset 3</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M262.57,428.31,0,0V1000L262.57,569.83C288.64,527,288.64,473,262.57,428.31Z"/></g></g></svg>
        </div>
      </div>
      <div class="hero-right"></div>
    </div>
    <div class="intro-section intro-section-inner">
      <div class="intro-section-small">
        <div class="intro-section-small-content" data-aos="fade-up">
          <h2>5900+ jobs done in the past year - and counting</h2>
        </div>
        <div class="intro-section-small-side intro-section-small-side-inner">
          <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 225.7 800"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path fill="#222" d="M15.64,457.36,225.7,800V0L15.64,344.13C-5.21,378.4-5.21,421.6,15.64,457.36Z"/></g></g></svg>
        </div>
      </div>
      <div class="intro-section-large">
        <div class="intro-section-large-text" data-aos="fade-up">
          <h4>Ken Lapain &amp; Sons LTD</h4>
          <h3>Truck &amp; Trailer Service for Fleet Managers and Owner-Operators</h3>
          <p>Our 14,000 square foot, fully-licensed service garage is capable of handling all medium and heavy vehicle, truck, and trailer repairs - servicing fleets, as well as independent owner-operator vehicles. We carry out Annual (MTO) inspections, safety checks, Preventative Maintenance services and inspections, emissions testing for heavy vehicles, and regular Lube, Oil, and Filter services.</p>
        </div>
      </div>
    </div>
    <div class="garage">
    <div class="container-1200">
        <div class="content text-align-center" data-aos="fade-up">
            <h4 class="heading-sub">Fully Licensed</h4>
            <h2 class="heading-main">Service Garage</h2>
            <p class="margin-top-50 margin-bottom-50"> We service and repair aerial devices, pumper trucks, farm equipment, and specialty equipment. We are spring and alignment specialists with all the necessary equipment on site to take care of your needs quickly and promptly, ensuring you limited downtime.</p>
        </div>
      <div class="grid grid-30-70 services-item" id="inspections" data-aos="fade-up">
        <div class="grid-item services-item-hex">
            <div class="hex-image-wrapper">
                  <div class="hex-image"><img src="/assets/images/lapain/hex/inspections.jpg" alt="Insepctions and Safety Checks" /></div>
            </div>
        </div>
        <div class="grid-item">
            <div class="services-item-content">
                <h2>Inspections, Safety Checks &amp; Emissions Testing</h2>
                <p>We carry out Annual (MTO) inspections, safety checks, Preventative Maintenance services and inspections, emissions testing for heavy vehicles, and regular Lube, Oil, and Filter services. Duis rutrum nec sem vel ultrices. Aenean lobortis ipsum ac nisi malesuada, eget laoreet arcu dictum. Duis sed elit ac nisi ultrices rhoncus vitae id elit. Vivamus a malesuada justo, vitae feugiat dui. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In dictum, lacus sit amet sodales consequat,</p>
            </div>
        </div>
      </div>
      <div class="grid grid-70-30 services-item mobile-reverse" id="equipment" data-aos="fade-up">
        
        <div class="grid-item">
            <div class="services-item-content">
                <h2>Farm, Construction &amp; Specialty Equipment</h2>
                <p>We service and repair aerial devices, pumper trucks, farm equipment, and specialty equipment. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam dictum a lacus in vestibulum. Fusce pulvinar posuere erat, ullamcorper pellentesque odio facilisis et. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc eget mauris erat. Vivamus viverra eget turpis ut fermentum.</p>
            </div>
        </div>
        <div class="grid-item services-item-hex">
            <div class="hex-image-wrapper">
                  <div class="hex-image"><img src="/assets/images/lapain/hex/equipment.jpg" alt="Farm Equipment" /></div>
            </div>
        </div>
      </div>
      <div class="grid grid-30-70 services-item" id="alignment" data-aos="fade-up">
        <div class="grid-item services-item-hex">
            <div class="hex-image-wrapper">
                  <div class="hex-image"><img src="/assets/images/lapain/hex/alignment.jpg" alt="Alignment Specialists" /></div>
            </div>
        </div>
        <div class="grid-item">
            <div class="services-item-content">
                <h2>Spring &amp; Alignment Specialists</h2>
                <p>We are spring and alignment specialists with all the necessary equipment on site to take care of your needs quickly and promptly, ensuring you limited downtime. Nunc suscipit ipsum sit amet convallis euismod. Donec congue, augue sed cursus venenatis, ligula felis iaculis sem, vel dapibus nunc leo aliquet turpis. Ut iaculis orci sed lorem tempor bibendum. Ut libero urna, porta in libero eu, sagittis posuere ante. Proin maximus vulputate lacus vel venenatis.</p>
            </div>
        </div>
      </div>
    </div>
    </div>
    <div class="fleets">
        <div class="container-1200">
            <div class="fleets-inner">
                <h4 class="heading-sub">Truck &amp; Trailer Services</h4>
                <h2 class="heading-main">For Fleets &amp; <br>Owner-Operators</h2>
               
                <p class="margin-bottom-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut tempor orci. Sed non porttitor diam, at feugiat ipsum. Etiam ultricies nisi quis sem mollis accumsan. Aliquam nec leo vitae eros ultrices accumsan at sed mauris.</p>
                <img src="/assets/images/logos/Truck-Pro.png" alt="Truck Pro" />
            </div>
        </div>
    </div>

    <div class="book-now-wide">
    <div class="book-now-wide-item book-now-wide-item-text ">
        <h4 class="heading-sub">Get In Touch</h4>
        <h2 class="heading-main">Schedule <span class="outline-text">Service</span></h2>
    </div>
    <div class="book-now-wide-item"><div data-micromodal-trigger="modal-1" class="btn btn-outline hvr-sweep-to-left-dark large-button-text">519.796.9259</div></div>
    <div class="book-now-wide-item"><a href="mailto:jodie@lapain.ca" class="btn btn-outline hvr-sweep-to-left-dark large-button-text">jodie@lapain.ca</a></div>
  </div>
    {%- include gallery.html category="bodyshop" title="Full Service Garage"  -%}
    {%- include link-boxes.html -%}
    {%- include certifications.html -%}
   
  </div>
  
  {%- include footer-simple.html photoswipe="true" -%}
   {%- include photoswipe.html -%}
</body>

</html>