<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>
  <div class="site">
    {%- include header-full-nav.html -%}

    <div class="hero">
      <div class="hero-large-hexagon">
        <div class="hero-large-hexagon-content">
          <h1 class="mobile-large-heading"><span class="top-text">One Stop Shop For</span> Service &amp; <span class="outline-text">Repair</span></h1>
          <p class="padding-top-20"> from commercial and heavy duty vehicle repairs to industrial sandblasting, painting, full-on fabrication work and body repairs, Ken Lapain & Sons does it all.</p>
          <p><a href="/about/" class="btn btn-outline hvr-sweep-to-left">Learn More</a></p>
        </div>
        <div class="hero-large-hexagon-side">
          <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 282.12 1000"><defs><style>.cls-1{fill:#fff;}</style></defs><title>Asset 3</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M262.57,428.31,0,0V1000L262.57,569.83C288.64,527,288.64,473,262.57,428.31Z"/></g></g></svg>
        </div>
      </div>
      <div class="hero-right"></div>
    </div>
    <div class="intro-section">
      <div class="intro-section-small">
        <div class="intro-section-small-content" data-aos="fade-up">
          <h2>Since 1946 - Three Generations</h2>
        </div>
        <div class="intro-section-small-side">
          <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 282.175 1000">
            <path d="M19.575,571.7l262.6,428.3V0L19.575,430.2C-6.525,473-6.525,527,19.575,571.7Z" style="fill: #222"/>
          </svg>
        </div>
      </div>
      <div class="intro-section-large">
        <div class="intro-section-large-services" data-aos="fade-up">
          <h3>Our Services</h3>
          <ul class="unstyled-list">
            <li>Full Service Garage</li>
            <li>Fabrication &amp; Welding</li>
            <li>Sandblasting &amp; Painting</li>
            <li>Body Shop</li>
          </ul>
          {% include arrow-link.html url="#services" text="View All Services" color="white" %}
        </div>
        <div class="intro-section-large-text" data-aos="fade-up">
          <h4>Ken Lapain &amp; Sons LTD</h4>
          <h3>We Focus on Client Needs, Integrity, and Quality Workmanship</h3>
          <p>Established in 1946, Ken Lapain & Sons is a customer-first business that focuses on client needs, integrity, and quality workmanship. Located in the hub of Essex County at 2119 County Road 15 in Essex, Ken Lapain & Sons is the one-stop shop for all your service and repair needs.</p>
        </div>
      </div>
    </div>
    <div class="container-1400 section-padding" id="services">
      <div class="grid grid-50-50">
        <div class="grid-item flex-center-vertical">
          <div class="content content-first padding-right mid-padding" data-aos="fade-up">
            <h4 class="heading-sub">Ken Lapain &amp; Sons LTD</h4>
            <h2 class="heading-main" >Our <span class="outline-text">Services</span></h2>
            <p class="margin-bottom-50 margin-top-50">Etiam laoreet condimentum nulla, et elementum neque lobortis id. Nam dapibus ligula vel nibh malesuada, non porttitor eros molestie. Suspendisse potenti. Fusce sodales, ipsum vel volutpat fringilla, ipsum ex pharetra metus, non egestas urna sapien non risus. Nulla eget arcu est. Aliquam tincidunt lacinia fermentum. Vivamus fermentum pretium purus eleifend imperdiet. Integer vitae metus et orci laoreet dictum. Donec dui ante, pretium vel auctor et, cursus id ante. Aenean volutpat hendrerit libero placerat viverra.</p>
          </div>
          
        </div>
        <div class="grid-item flex-center-vertical">
          <div class="hex-grid hex-grid-home">
            {% include hex-grid-item.html img_src="/assets/images/lapain/welding-small.jpg" img_alt="Fabrication &amp; Welding" title="Fabrication &amp; Welding" linkto="/services/fab-weld/" hover="true" %}
            {% include hex-grid-item.html svg="true" img_src="/assets/images/lapain/garage-small.jpg" img_alt="Full Service Garage" title="Full Service Garage" linkto="/services/full-service-garage/" hover="true" %}
            {% include hex-grid-item.html img_src="/assets/images/lapain/body-shop-small.jpg" img_alt="Body Shop" title="Body Shop" linkto="/services/body-shop/"  hover="true" %}
            {% include hex-grid-item.html img_src="/assets/images/lapain/paint-small.jpg" img_alt="Sandblasting &amp; Painting" title="Sandblasting &amp; Painting"  linkto="/services/sandblast-paint/"  hover="true" %}
            
           
          </div>
        </div>
      </div>
    </div>
    
  {%- include benifits.html -%} 
  {%- include book-now.html -%}
  {%- include certifications.html -%}
    <div class="flex-half">   
        <div class="flex-half-item flex-center-vertical">
          <div class="content padding-100-all" data-aos="fade-up">
            <h4 class="heading-sub">We're Proud Of</h4>
            <h2 class="heading-main">The <span class="outline-text">Work</span> We Do</h2>
            <p class="margin-bottom-50 margin-top-50">Etiam laoreet condimentum nulla, et elementum neque lobortis id. Nam dapibus ligula vel nibh malesuada, non porttitor eros molestie. Suspendisse potenti. Fusce sodales, ipsum vel volutpat fringilla, ipsum ex pharetra metus, non egestas urna sapien non risus. Nulla eget arcu est. Aliquam tincidunt lacinia fermentum. </p>
           {% include arrow-link.html url="/services/" text="Learn More About Us" %}
          </div>
        </div>
        <div class="flex-half-item flex-center-vertical">
            <div class="slick-wrapper">
                <div class="slick-slider">
                    <div><img src="/assets/images/lapain/yellow-bin.jpg" alt="Ken Lapain &amp; Sons" /></div>
                    <div><img src="/assets/images/lapain/home-garage.jpg" alt="Ken Lapain &amp; Sons" /></div>
                    <div><img src="/assets/images/lapain/home-sandblasting.jpg"  alt="Ken Lapain &amp; Sons" /></div>
                </div>
            </div>
        </div>
      </div>
  </div>
  </div>
  {%- include footer-simple.html -%}
</body>

</html>