<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>
  <div class="site">
    {%- include header-full-nav.html -%}

    <div class="hero hero-inner">
      <div class="hero-large-hexagon">
        <div class="hero-large-hexagon-content">
          <h1 class="mobile-large-heading">Inspections &amp; <span class="outline-text">Testing</span></h1>
        </div>
        <div class="hero-large-hexagon-side">
          <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 282.12 1000"><defs><style>.cls-1{fill:#fff;}</style></defs><title>Asset 3</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M262.57,428.31,0,0V1000L262.57,569.83C288.64,527,288.64,473,262.57,428.31Z"/></g></g></svg>
        </div>
      </div>
      <div class="hero-right"></div>
    </div>
    <div class="intro-section intro-section-inner">
      <div class="intro-section-small">
        <div class="intro-section-small-content" data-aos="fade-up">
          <h2>24 Hour Emergency Services</h2>
        </div>
        <div class="intro-section-small-side intro-section-small-side-inner">
          <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 225.7 800"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path fill="#222" d="M15.64,457.36,225.7,800V0L15.64,344.13C-5.21,378.4-5.21,421.6,15.64,457.36Z"/></g></g></svg>
        </div>
      </div>
      <div class="intro-section-large">
        <div class="intro-section-large-text" data-aos="fade-up">
          <h4>MACP, LACP &amp; PACP Certified</h4>
          <h3>Expert Operators</h3>
          <p>Our highly trained team of experts are well equipped to perform several inspection and testing services for your sanitary and storm sewer systems including but not limited to; CCTV & Lateral Launch inspections through to Fog, Air and Mandrel testing.  We're also equipped and experienced in developing and executing sewer inspection programs.</p>
        </div>
      </div>
    </div>
    <div class="services-excavation">
    <div class="container-1200">
      <div class="grid grid-30-70 services-item" id="video" data-aos="fade-up">
        <div class="grid-item services-item-hex">
            <div class="hex-image-wrapper">
                  <div class="hex-image"><img src="/assets/images/backgrounds/hex-truck-3.jpg" alt="Hydrovac Truck" /></div>
            </div>
        </div>
        <div class="grid-item">
            <div class="services-item-content">
                <h2>Video (CCTV Inspection)</h2>
                <p>Whether it be a quick survey, a maintenance inspection, or a long-term project, we're able to provide a full range of video services using CCTV technology.  Using our state of the art cameras, equipment and data collection software, we're able to inspect and identify issues such as infiltration, exfiltration, deterioration, joint separation/offsets, breaks, root intrusion and more. Using the data collected and analyzed, our experienced team can prioritize decisions for on-going maintenance, repairs and rehabilitation. </p>
            </div>
        </div>
      </div>
      <div class="grid grid-70-30 services-item mobile-reverse" id="lateral-launch" data-aos="fade-up">
        
        <div class="grid-item">
            <div class="services-item-content">
                <h2>Lateral Launch Inspections</h2>
                <p>Our state of the art CCTV equipment enables us to perform lateral launch inspections/surveys for a branch of sewers, pipes and lines from the mainline using a single access point. The mainlines are inspected at the same time as the laterals, making it efficient while also being non-intrusive. Lateral inspections are often also completed in advance of other construction work to identify lines and ensure safety, which will ultimately mitigate infrastructure damage.</p>
            </div>
        </div>
        <div class="grid-item services-item-hex">
            <div class="hex-image-wrapper">
                  <div class="hex-image"><img src="/assets/images/backgrounds/hex-truck-3.jpg" alt="Hydrovac Truck" /></div>
            </div>
        </div>
      </div>
      <div class="grid grid-30-70 services-item" id="fog-testing" data-aos="fade-up">
        <div class="grid-item services-item-hex">
            <div class="hex-image-wrapper">
                  <div class="hex-image"><img src="/assets/images/backgrounds/hex-truck-3.jpg" alt="Hydrovac Truck" /></div>
            </div>
        </div>
        <div class="grid-item">
            <div class="services-item-content">
                <h2>Fog Testing</h2>
                <p>Fog testing is useful in identifying the location of defects, improper connections, breaks and cracks in a line/pipe system which may cause unwanted infiltration into the system of exfiltration out of the system.  Harmless vapour is blown into the lines at controlled access points and the locations where the fog exits the system are identified for further investigated as required.</p>
            </div>
        </div>
      </div>
      <div class="grid grid-70-30 services-item mobile-reverse" id="air-testing" data-aos="fade-up">
        
        <div class="grid-item">
            <div class="services-item-content">
                <h2>Air Testing</h2>
                <p>Plugging each end of a pipe and pressurizing it allows testing of an entire line. Should there be a leak, further testing can then occur in sections to pinpoint the problem area. Air testing can find issues that may not be visible using just a CCTV camera which is why although offered as a stand-alone service, it's often performed together with flushing and CCTV inspections.</p>
            </div>
        </div>
        <div class="grid-item services-item-hex">
            <div class="hex-image-wrapper">
                  <div class="hex-image"><img src="/assets/images/backgrounds/hex-truck-3.jpg" alt="Hydrovac Truck" /></div>
            </div>
        </div>
      </div>
      <div class="grid grid-30-70 services-item" id="mandrel-testing" data-aos="fade-up">
        <div class="grid-item services-item-hex">
            <div class="hex-image-wrapper">
                  <div class="hex-image"><img src="/assets/images/backgrounds/hex-truck-3.jpg" alt="Hydrovac Truck" /></div>
            </div>
        </div>
        <div class="grid-item">
            <div class="services-item-content">
                <h2>Mandrel Testing</h2>
                <p>Also known as deflection testing, mandrel testing is used to ensure that flexible pipe materials meet provided specifications and that there are no deformations (the pipe is still round) due to load on the pipe. The test is performed by pulling a mandrel set to a specified diameter through a section of pipe. </p>
            </div>
        </div>
      </div>
    </div>
    </div>
    </div>  
    <div class="inspection-programs" id="inspection">
    <div class="container-1200">
        <div class="inspection-programs-content">
          <h4 class="heading-sub">Inspection Programs</h4>
          <h2 class="heading-main">Well equipped and experienced in developing and executing sewer inspection programs</h2>
          <div class="btn btn-outline hvr-sweep-to-left-dark large-button-text" data-micromodal-trigger="modal-1">Contact Us</div>
        </div>
    </div>
    </div>
  <div class="flex-half bg-light-grey">   
        <div class="flex-half-item flex-center-vertical">
          <div class="content padding-100-all mobile-padding-section" data-aos="fade-up">
           <h2 class="heading-main">Cleaning &amp; Repair</h2>
            <p class="margin-top-50">Our inspection and testing services are often performed in combination with our cleaning and repair services. Using our extensive fleet of equipment including combination units and grout units, we're able to clean, repair and maintain sewer and sanitary lines.</p>
            <ul class="services-list margin-bottom-50">
             <li>Flushing &amp; Cleaning</li>
              <li>Trenchless Repairs</li>
              <li>Chemical Grouting</li>
            </ul>
            {% include arrow-link.html url="/services/cleaning-repairs/" text="Learn More" %}
          </div>
        </div>
        <div class="flex-half-item flex-center-vertical">
            <div class="cover-image">
                <img src="/assets/images/hydrovac/gallery-placeholder.jpg" alt="Hurricane Hydrovac Fleet" />
            </div>
        </div>
      </div>
  </div>
  {%- include footer-simple.html -%}
</body>

</html>