<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>
  <div class="site">
    {%- include header-full-nav.html -%}

    <div class="hero hero-inner">
      <div class="hero-large-hexagon">
        <div class="hero-large-hexagon-content">
          <h1 class="mobile-large-heading"><span class="top-text">Facility </span>Maintenance</h1>
        </div>
        <div class="hero-large-hexagon-side">
          <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 282.12 1000"><defs><style>.cls-1{fill:#fff;}</style></defs><title>Asset 3</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M262.57,428.31,0,0V1000L262.57,569.83C288.64,527,288.64,473,262.57,428.31Z"/></g></g></svg>
        </div>
      </div>
      <div class="hero-right"></div>
    </div>
    <div class="intro-section intro-section-inner">
      <div class="intro-section-small">
        <div class="intro-section-small-content" data-aos="fade-up">
          <h2>24 Hour Emergency Services</h2>
        </div>
        <div class="intro-section-small-side intro-section-small-side-inner">
          <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 225.7 800"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path fill="#222" d="M15.64,457.36,225.7,800V0L15.64,344.13C-5.21,378.4-5.21,421.6,15.64,457.36Z"/></g></g></svg>
        </div>
      </div>
      <div class="intro-section-large">
        <div class="intro-section-large-text" data-aos="fade-up">
          <h4>Maintenance Using Hydrovac Units</h4>
          <h3>Cleaning and Waste Removal</h3>
          <p>Our hydrovac experience, combined with our over 50 years experience in the sanitation business, make us one of the leading providers of facilities and infrastructure maintenance in the Windsor and London areas.  Whether it be MOE approved waste removal and transport services or advanced cleaning and flushing of catch basins, storm drains, and manholes, our team is experienced and well equipped to handle any project.</p>
        </div>
      </div>
    </div>
    <div class="services-maintenance">
    <div class="container-1200">
        <div class="text-align-center margin-bottom-50  content" data-aos="fade-up">
            <h4 class="heading-sub">Facility &amp; Infastructure</h4>
            <h2 class="heading-main ">Maintenance</h2>
            <p class="margin-top-50 ">One truck, one hundred uses, is the best way to describe our fleet of hydrovac trucks. To compliment our range of hydro excavation services using our hydrovac units, we also have a variety of facilities and infrastructure maintenance services. We can offer these services as requested, in an emergency with our 24-hour service, or as part of a regularly scheduled maintenance plan. Many of our clients opt for a maintenance plan to increase longevity and ensure peak performance of facilities and infrastructure. If you are interested in regularly scheduled maintenance or waste removals, contact us to speak with one of our team members. <strong>Learn more about our specific hydrovac and facilities maintenance services below.</strong></p>
        </div>
      <div class="grid grid-30-70 services-item "  id="sewer-flushing" data-aos="fade-up">
        <div class="grid-item services-item-hex">
            <div class="hex-image-wrapper">
                  <div class="hex-image"><img src="/assets/images/backgrounds/hex-truck-3.jpg" alt="Hydrovac Truck" /></div>
            </div>
        </div>
        <div class="grid-item">
            <div class="services-item-content">
                <h2>Sewer Flushing &amp; Catch Basin Cleaning</h2>
                <p>The versatile nature of our trucks, coupled with our experience, enables us to provide a full range of sewer, catch basin, storm drain, and manhole cleaning and flushing services.  Using blasts of high pressure, our equipment can clean blocked and clogged storm and sanitary lines from items including sludge, organic debris, trash, oil, grease, and other deposits. Once the blockage is displaced, we are also able to remove the materials to an approved off-site location.  Using our fleets' vacuum systems supported by a controlled high-pressure system with heated water, as required, we are also able to clean all types of sanitary and stormwater infrastructure.</p>
            </div>
        </div>
      </div>
      <div class="grid grid-70-30 services-item mobile-reverse" id="liquid-waste" data-aos="fade-up">
        
        <div class="grid-item">
            <div class="services-item-content">
                <h2>Liquid Waste Removal (MOE Approved)</h2>
                <p>With over 50 years of experience in the sanitation business, we provide septic tank cleaning and liquid waste disposal.  Using our fleets' vacuum systems supported by a controlled high-pressure system, with heated water if required, we're also able to clean all types of tanks safely and efficiently.  We're Ministry of Environment approved and licensed, which ensures that we are always providing safe and efficient removal of all kinds of liquid waste.</p>
            </div>
        </div>
        <div class="grid-item services-item-hex">
            <div class="hex-image-wrapper">
                  <div class="hex-image"><img src="/assets/images/backgrounds/hex-truck-3.jpg" alt="Hydrovac Truck" /></div>
            </div>
        </div>
      </div>
      <div class="grid grid-30-70 services-item" id="industrial-cleaning" data-aos="fade-up">
        <div class="grid-item services-item-hex">
            <div class="hex-image-wrapper">
                  <div class="hex-image"><img src="/assets/images/backgrounds/hex-truck-3.jpg" alt="Hydrovac Truck" /></div>
            </div>
        </div>
        <div class="grid-item">
            <div class="services-item-content">
                <h2>Wet or Dry Industrial Cleaning</h2>
                <p>As part of our range of versatile services, we're experienced and able to offer a variety of cleaning and waste removal services for all industrial facilities.  Utilizing our high power vacuum units and heated controlled high-pressure water systems we're able to tackle the cleanup, removal and transfer of materials including but not limited to oil, water, coolants, dust and sand.  Our services also extend to spills and contaminated sites. We're Ministry of Environment approved and licensed, therefore providing safe and efficient removal and transfer of a wide variety of wet and dry materials. </p>
            </div>
        </div>
      </div>
    </div>
    </div>
  {%- include benifits.html -%}
  {%- include book-now.html -%}
  <div class="flex-half bg-light-grey">   
        <div class="flex-half-item flex-center-vertical">
          <div class="content padding-100-all mobile-padding-section" data-aos="fade-up">
            <h4 class="heading-sub">Hydro Excavation</h4>
            <h2 class="heading-main">Services</span></h2>
            <p class="margin-top-50">We offer a range of clean and safe hydro excavation services using our extensive fleet of hydrovac units and supporting equipment backed by our experienced team of operators. Services include the following:</p>
            <ul class="services-list margin-bottom-50">
              <li>Daylighting / Line Locating</li>
              <li>Slot Trenching</li>
              <li>Pole &amp; Post Holes</li>
              <li>Dry Suction Excavation</li>
              <li>Backfilling &amp; Restoration</li>
            </ul>
            {% include arrow-link.html url="/services/excavation" text="View Hydro Excavation Services" %}
          </div>
        </div>
        <div class="flex-half-item flex-center-vertical">
            <div class="cover-image">
                <img src="/assets/images/hydrovac/gallery-placeholder.jpg" alt="Hurricane Hydrovac Fleet" />
            </div> 
        </div>
      </div>
  </div>
  {%- include footer-simple.html -%}
</body>

</html>