<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html photoswipe="true" -%}

<body>
  <div class="site">
    {%- include header-full-nav.html -%}

    <div class="hero hero-inner hero-paint">
      <div class="hero-large-hexagon">
        <div class="hero-large-hexagon-content">
          <h1 class="mobile-large-heading">Sandblasting <span class="outline-text">&amp; Painting</span></h1>
        </div>
        <div class="hero-large-hexagon-side">
          <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 282.12 1000"><defs><style>.cls-1{fill:#fff;}</style></defs><title>Asset 3</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M262.57,428.31,0,0V1000L262.57,569.83C288.64,527,288.64,473,262.57,428.31Z"/></g></g></svg>
        </div>
      </div>
      <div class="hero-right"></div>
    </div>
    <div class="intro-section intro-section-inner">
      <div class="intro-section-small">
        <div class="intro-section-small-content" data-aos="fade-up">
          <h2>21,000 SqFT Dedicated To The Craft</h2>
        </div>
        <div class="intro-section-small-side intro-section-small-side-inner">
          <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 225.7 800"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path fill="#222" d="M15.64,457.36,225.7,800V0L15.64,344.13C-5.21,378.4-5.21,421.6,15.64,457.36Z"/></g></g></svg>
        </div>
      </div>
      <div class="intro-section-large">
        <div class="intro-section-large-text" data-aos="fade-up">
          <h4>Ken Lapain &amp; Sons LTD</h4>
          <h3>Sandblasting, Painting &amp; Specialty Coatings</h3>
          <p>In 1990, we expanded our business to include 21,000 square feet of in-house sandblasting, painting, and specialty coating capabilities that we’ve been providing customers with ever since. This facility is one of the largest in Southwestern Ontario, featuring a 7,000 square foot sandblasting bay, and a 14,000 foot paint area.</p>
        </div>
      </div>
    </div>
    <div class="paint">
    <div class="container-1200">
        <div class="content text-align-center" data-aos="fade-up">
            <h4 class="heading-sub">One of the Largest Facilities in South-Western Ontario</h4>
            <h2 class="heading-main">Sanblasting &amp; Painting Services</h2>
        </div>
      <div class="grid grid-30-70 services-item" id="sanblasting" data-aos="fade-up">
        <div class="grid-item services-item-hex">
            <div class="hex-image-wrapper">
                  <div class="hex-image"><img src="/assets/images/lapain/hex/sandblasting.jpg" alt="Sandblasting" /></div>
            </div>
        </div>
        <div class="grid-item">
            <div class="services-item-content">
                <h2>Sandblasting</h2>
                <p>We offer sandblasting services to customers in Essex County and Southwestern Ontario from our 7,000 square foot sandblasting bay. Among the largest in Southwestern Ontario, this substantial portion of our facility is perfectly set up to accommodate sandblasting projects of almost any size or shape, from small parts, pieces and components to large heavy equipment and industrial projects including restorations.</p>
            </div>
        </div>
      </div>
      <div class="grid grid-70-30 services-item mobile-reverse" id="coatings" data-aos="fade-up">
        
        <div class="grid-item">
            <div class="services-item-content">
                <h2>Painting &amp; Specialty Coatings</h2>
                <p>This 14,000 square foot area of our facility allows us to do more than just paint and powder coat. We can also apply a variety of specialty coatings, including almost any high build epoxy, zinc coatings, urethane, enamel topcoats, and specialty coatings. These services are complemented by our in-house baking capabilities, making us truly a one-stop shop for painting and coating in Southwestern Ontario.</p>
            </div>
        </div>
        <div class="grid-item services-item-hex">
            <div class="hex-image-wrapper">
                  <div class="hex-image"><img src="/assets/images/lapain/hex/painting2.jpg" alt="Painting" /></div>
            </div>
        </div>
      </div>
    </div>
    </div>
    <div class="certified">
      <div class="certified-inner">
        <h2>Dupont &amp; PPG Certified</h2>
        <div class="certified-logos">
          <img src="/assets/images/logos/dupont.png" alt="Du Pont Certified" />
          <img src="/assets/images/logos/PPG.png" alt="PPG Certified Collision Repair Center" />
        </div>
      </div>
    </div>
   
    <div class="book-now-wide">
    <div class="book-now-wide-item book-now-wide-item-text ">
        <h4 class="heading-sub">Get In Touch</h4>
        <h2 class="heading-main">Talk To Our <span class="outline-text">Team</span></h2>
    </div>
    <div class="book-now-wide-item"><div data-micromodal-trigger="modal-1" class="btn btn-outline hvr-sweep-to-left-dark large-button-text">{{ site.phone }}</div></div>
    <div class="book-now-wide-item"><a href="mailto:jodie@lapain.ca" class="btn btn-outline hvr-sweep-to-left-dark large-button-text">jodie@lapain.ca</a></div>
  </div>
    {%- include gallery-slider.html category="painting" title="Sandblasting &amp; Painting"  -%}
    {%- include link-boxes.html -%}
    {%- include certifications.html -%}
   
  </div>
  
  {%- include footer-simple.html photoswipe="true" -%}
   {%- include photoswipe.html -%}
</body>

</html>