<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html photoswipe="true" -%}

<body>
  <div class="site">
    {%- include header-full-nav.html -%}

    <div class="hero hero-inner">
      <div class="hero-large-hexagon">
        <div class="hero-large-hexagon-content">
          <h1><span class="top-text">Inspect. Clean. Repair.</span>Our <span class="outline-text">Services</span></h1>
        </div>
        <div class="hero-large-hexagon-side">
          <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 282.12 1000"><defs><style>.cls-1{fill:#fff;}</style></defs><title>Asset 3</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M262.57,428.31,0,0V1000L262.57,569.83C288.64,527,288.64,473,262.57,428.31Z"/></g></g></svg>
        </div>
      </div>
      <div class="hero-right"></div>
    </div>
    <div class="intro-section intro-section-inner">
      <div class="intro-section-small">
        <div class="intro-section-small-content" data-aos="fade-up">
          <h2>24 Hour Emergency Services</h2>
        </div>
        <div class="intro-section-small-side intro-section-small-side-inner">
          <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 225.7 800"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path fill="#222" d="M15.64,457.36,225.7,800V0L15.64,344.13C-5.21,378.4-5.21,421.6,15.64,457.36Z"/></g></g></svg>
        </div>
      </div>
      <div class="intro-section-large">
        <div class="intro-section-large-text" data-aos="fade-up">
          <h4>Sewer Cleaning, Inspection, Testing, &amp; Repair</h4>
          <h3>Any Project. Any Time.</h3>
          <p>We offer a range of sanitary and storm sewer CCTV inspection services, including mainlines, service laterals, and maintenance holes. Our professional, well-trained teams can respond during and outside of business hours, including evenings, weekends, and wet weather.</p>
        </div>
      </div>
    </div>
    <div class="container-1400 services-section">
      <div class="grid grid-50-50" style="padding-top: 20px;">
        <div class="grid-item flex-center-vertical">
          <div class="content padding-right mid-padding"  data-aos="fade-up">
            <h2 class="heading-main">Inspections &amp; Testing</h2>
            <p class="margin-top-50">Our expert team utilizes state of the art equipment to perform the full range of sewer and sanitary line inspections and testing on existing and new infrastructure and during construction. Using data collected from video inspections and testing protocols, our team can analyze and prioritize decisions for on-going maintenance, repairs and rehabilitation. Contact us to learn more about our inspection and testing services. </p>
            <ul class="services-list margin-bottom-50">
              <li><a href="/services/inspections-testing/#video">Video (CCTV Inspection)</a></li>
              <li><a href="/services/inspections-testing/#lateral-launch">Lateral Launch Inspections</a></li>
              <li><a href="/services/inspections-testing/#fog-testing">Fog Testing</a></li>
              <li><a href="/services/inspections-testing/#air-testing">Air Testing</a></li>
              <li><a href="/services/inspections-testing/#mandrel-testing">Mandrel Testing</a></li>
            </ul>
            {% include arrow-link.html url="/services/inspections-testing/" text="Learn More" %}
          </div>
        </div>
        <div class="grid-item flex-center-vertical">
          <div class="hex-grid ps-gallery hex-grid-services">
              {% include hex-grid-item.html svg="true" img_src="/assets/images/hydrovac/hex-bg.jpg" img_alt="Hydro Excavation" linkto="/assets/images/hydrovac/hex-bg.jpg" datasize="1024x1024" hover="true" %}
                {% include hex-grid-item.html img_src="/assets/images/hydrovac/hex-bg.jpg" img_alt="Hydro Excavation" linkto="/assets/images/hydrovac/hex-bg.jpg" datasize="1024x1024" hover="true" %}
                {% include hex-grid-item.html img_src="/assets/images/hydrovac/hex-bg.jpg" img_alt="Hydro Excavation" linkto="/assets/images/hydrovac/hex-bg.jpg" datasize="1024x1024" hover="true" %}
                {% include hex-grid-item.html img_src="/assets/images/hydrovac/hex-bg.jpg" img_alt="Hydro Excavation" linkto="/assets/images/hydrovac/hex-bg.jpg" datasize="1024x1024" hover="true" %}
          </div>
        </div>
      </div>
      <div class="grid grid-50-50 mobile-reverse services-image-second" >
        <div class="grid-item flex-center-vertical mid-padding">
            <div class="hex-grid ps-gallery hex-grid-services">
                {% include hex-grid-item.html img_src="/assets/images/hydrovac/hex-bg.jpg" img_alt="Hydro Excavation" linkto="/assets/images/hydrovac/hex-bg.jpg" datasize="1024x1024" hover="true" %}
                {% include hex-grid-item.html img_src="/assets/images/hydrovac/hex-bg.jpg" img_alt="Hydro Excavation" linkto="/assets/images/hydrovac/hex-bg.jpg" datasize="1024x1024" hover="true" %}
                {% include hex-grid-item.html img_src="/assets/images/hydrovac/hex-bg.jpg" img_alt="Hydro Excavation" linkto="/assets/images/hydrovac/hex-bg.jpg" datasize="1024x1024" hover="true" %}
                {% include hex-grid-item.html img_src="/assets/images/hydrovac/hex-bg.jpg" img_alt="Hydro Excavation" linkto="/assets/images/hydrovac/hex-bg.jpg" datasize="1024x1024" hover="true" %}
            </div>
        </div>
        <div class="grid-item flex-center-vertical">
          <div class="content mid-padding" data-aos="fade-up">
            <h2 class="heading-main">Cleaning &amp; Repair</h2>
            <p class="margin-top-50">With a full fleet of combination flusher units along with supporting repair equipment, we're well equipped to handle any flushing, cleaning and repair project. Our cleaning and repair services can be procured on a case by case basis, as part of a maintenance program or most commonly coupled our inspection and testing services. We're always ready to deliver emergency services 24 hours a day, 7 days a week. Contact us to book a service or learn more.</p>
            <ul class="services-list margin-bottom-50">
             <li><a href="/services/cleaning-repairs/#flushing-cleaning">Flushing &amp; Cleaning</a></li>
              <li><a href="/services/cleaning-repairs/#trenchless-repairs">Trenchless Repairs</a></li>
              <li><a href="/services/cleaning-repairs/#chemical-grouting">Chemical Grouting</a></li>
            </ul>
            {% include arrow-link.html url="/services/cleaning-repairs/" text="Learn More" %}
          </div>
        </div>
        
      </div>
    </div>

  {%- include book-now.html -%}
  <div class="flex-half">   
        <div class="flex-half-item flex-center-vertical">
          <div class="content padding-100-all" data-aos="fade-up">
            <h4 class="heading-sub">The Fleet</h4>
            <h2 class="heading-main">Our <span class="outline-text">Equipement</span></h2>
            <p class="margin-top-50">With a wide range of equipment for sewer maintenance and backed by additional service fleet from sister company Hurricane Hydrovac we’re equipped and experienced to handle any size project.  </p>
            <ul class="services-list">
              <li>3 combination units (Vactor Flushers)</li>
              <li>4 mainline camera units,<br>3 equipped with lateral launch capabilities</li>
              <li>1 grout unit </li>
              
            </ul>
          </div>
        </div>
        <div class="flex-half-item flex-center-vertical">
            <div class="slick-wrapper">
                <div class="slick-slider">
                    <div><img src="/assets/images/hydrovac/gallery-placeholder.jpg" /></div>
                    <div><img src="/assets/images/hydrovac/gallery-placeholder.jpg" /></div>
                    <div><img src="/assets/images/hydrovac/gallery-placeholder.jpg" /></div>
                </div>
            </div>
        </div>
      </div>
  </div>
  {%- include clients-all.html -%}
  {%- include quote.html -%}
  {%- include footer-simple.html photoswipe="true" -%}
  {%- include photoswipe.html -%}
</body>

</html>