<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body class="no-js">
  <div class="site">
    {%- include header.html -%}
    <div class="hero hero-inner">
      <div class="hero-large-hexagon">
        <div class="hero-large-hexagon-content">
          <h1> One <span class="outline-text">Team</span><span class="top-text">Driven By Excellence</span></h1>
        </div>
        <div class="hero-large-hexagon-side">
         {%- comment -%} <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="100%" height="100%"
            viewBox="0 0 15.1602 53.7">
  <path d="M14.0952,23.065,0,0V53.7L14.0952,30.635A7.2584,7.2584,0,0,0,14.0952,23.065Z" style="fill: #fff"/>
          </svg> {%- endcomment -%}
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 225.7 800" preserveAspectRatio="none" width="100%" height="100%"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path fill="#fff" d="M210.06,342.64,0,0V800L210.06,455.87C230.91,421.6,230.91,378.4,210.06,342.64Z"/></g></g></svg>

        </div>
      </div>
      <div class="hero-right"></div>
    </div>
    <div class="intro-section intro-section-inner">
      <div class="intro-section-small">
        <div class="intro-section-small-content" data-aos="fade-up">
          <h2>120 Combined Years of Experience</h2>
        </div>
        <div class="intro-section-small-side intro-section-small-side-inner">
          {%- comment -%} <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="100%" height="100%"
            viewBox="0 0 15.1602 53.7">
              <path d="M1.065,30.635,15.16,53.7V0L1.065,23.065A7.2584,7.2584,0,0,0,1.065,30.635Z" style="fill: #222"/>
          </svg> {%- endcomment -%}
          <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 225.7 800"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path fill="#222" d="M15.64,457.36,225.7,800V0L15.64,344.13C-5.21,378.4-5.21,421.6,15.64,457.36Z"/></g></g></svg>
        </div>
      </div>
      <div class="intro-section-large">
        <div class="intro-section-large-text" data-aos="fade-up">
          <h4>The Hurricane Group</h4>
          <h3>Experience The Difference</h3>
          <p>The Hurricane Group is comprised of four companies with over 120 years of combined experience: Hurricane
            Hydrovac, Hurricane SMS, Heaton Sanitation, and Ken Lapain and Sons Ltd. All of these companies were built
            on the foundation of core family principles and values. These same principles continue to be the guiding
            light for all four companies, combined with an overarching focus on integrity, professionalism, and quality
            workmanship</p>
        </div>
      </div>
    </div>
    <div class="team-section">
      <div class="container-1200">
        <div class="red-heading text-align-center" data-aos="fade-up">
          <h4>The Driving Force</h4>
          <h2>Our <span class="outline-text">Team</span></h2>
        </div>
        <p class="text-align-center">Our leadership team is diverse, although all members have backgrounds in
          construction, their experience in the industry is vast. Each brings forward many years of experience,
          knowledge and various skill sets, which allows our group of companies to deliver quality services consistently
          time after time. </p>
        <div class="team-members">
          <div class="team-members-person" data-aos="fade-up">
            <div class="person-photo">
              <div class="hex-wrapper">
                <div class="hex">
                  <div class="hex-image"><img src="/assets/images/hurricane-team-photo.jpg" alt="Hurricane Team Member" /></div>
                </div>
              </div>
            </div>
            <h2>Shawn O'Keefe</h2>
            <h3>Owner</h3>
            <p>Shawn O'Keefe is responsible for overseeing the group of companies. Shawn graduated from the University
              of Windsor with a civil engineering degree. After graduation Shawn become President and shareholder of
              Michael O'Keefe Ltd. Shawn has over 25 years' experience in the civil construction industry. While Shawn's
              primary focus was excavation, his background, reputation and in-depth knowledge of technology has allowed
              him to successfully expand into other facets of the business.</p>
          </div>
          <div class="team-members-person" data-aos="fade-up">
            <div class="person-photo">
              <div class="hex-wrapper">
                <div class="hex">
                  <div class="hex-image"><img src="/assets/images/hurricane-team-photo.jpg" alt="Hurricane Team Member" /></div>
                </div>
              </div>
            </div>
            <h2>Max De Angelis</h2>
            <h3>Owner</h3>
            <p>Max is responsible for overseeing the group of companies. Max started his career in construction over two
              decades ago as President of De Angelis Construction Inc. Max is an innovative and results-oriented
              construction professional with extensive experience in all facets of construction across Ontario and
              Canada. Through his commitment to excellence and a team-oriented approach, Max has been a catalyst in
              establishing the trusted Hurricane name. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="client-section">
      <div class="client-section-small">
        <div class="client-section-small-content">
          <h4 data-aos="fade-up">Industry Recognized</h4>
          <h2 data-aos="fade-up">Professional Affiliations</h2>
        </div>
        <div class="client-section-small-side">
           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 225.7 800" preserveAspectRatio="none" width="100%" height="100%"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path fill="#222" d="M210.06,342.64,0,0V800L210.06,455.87C230.91,421.6,230.91,378.4,210.06,342.64Z"/></g></g></svg>
        </div>
      </div>
      <div class="client-section-large">
        <div class="client-section-large-logos" data-aos="fade-up">
          <div class="logo">
            <img src="/assets/images/logos/AVETTA.png" alt="Avetta Logo">
          </div>
          <div class="logo">
            <img src="/assets/images/logos/isn.png" alt="ISN Logo" style="max-width: 200px;">
          </div>
          <div class="logo">
            <img src="/assets/images/logos/contractor-compliance.png" alt="Contractor Compliance Logo">
            </div>
        </div>
      </div>
    </div>
    <div class="faded-page-preview faded-page-preview-team">
      <div class="faded-page-preview-left">
        <div class="red-heading" data-aos="fade-up">
          <h4>The Hurricane Group</h4>
          <h2>Our <span class="outline-text">Companies</span></h2>
          <div class="learn-more"><a class="link link--arrowed" href="/companies/">Learn More
    <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
      <g fill="none" stroke="#222" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10">
        <circle class="arrow-icon--circle" cx="16" cy="16" r="15.12"></circle>
        <path class="arrow-icon--arrow" d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98"></path>
      </g>
    </svg></a></div>
        </div>
      </div>
      <div class="faded-page-preview-right">
        <img class="mobile-hide" data-aos="fade-up" src="/assets/images/hurricane-hex-icons.png"
          alt="The Hurricane Group Companies">
      </div>
    </div>

  </div>
  {%- include footer.html -%}
</body>
</html>