
        <div class="team-members">
          <div class="team-members-person" data-aos="fade-up">
            <div class="person-photo">
              <div class="hex-wrapper">
                <div class="hex">
                  <div class="hex-image"><img src="/assets/images/hurricane-team-photo.jpg" alt="Hurricane Team Member" /></div>
                </div>
              </div>
            </div>
            <h2>Team Member 1</h2>
            <h3>Owner</h3>
            <p>Nullam ultrices tincidunt nulla non accumsan. Vivamus eget dictum justo, at euismod magna. Quisque eu diam velit. Suspendisse sodales ex at bibendum pharetra. Donec convallis libero vel turpis cursus, ut scelerisque velit dignissim. Vivamus blandit lacinia ante, eu malesuada justo viverra a. Nulla quis sapien at urna porttitor finibus. Donec luctus et quam nec aliquet. Cras turpis justo, dignissim quis hendrerit eu, commodo et leo.</p>
          </div>
          <div class="team-members-person" data-aos="fade-up">
            <div class="person-photo">
              <div class="hex-wrapper">
                <div class="hex">
                  <div class="hex-image"><img src="/assets/images/hurricane-team-photo.jpg" alt="Hurricane Team Member" /></div>
                </div>
              </div>
            </div>
            <h2>Team Member 2</h2>
            <h3>Owner</h3>
            <p>Nullam ultrices tincidunt nulla non accumsan. Vivamus eget dictum justo, at euismod magna. Quisque eu diam velit. Suspendisse sodales ex at bibendum pharetra. Donec convallis libero vel turpis cursus, ut scelerisque velit dignissim. Vivamus blandit lacinia ante, eu malesuada justo viverra a. Nulla quis sapien at urna porttitor finibus. Donec luctus et quam nec aliquet. Cras turpis justo, dignissim quis hendrerit eu, commodo et leo.</p>
          </div>
        </div>
      </div>
       <div class="container-1200">
        <div class="team-members" style="justify-content: center;">
          <div class="team-members-person" data-aos="fade-up">
            <div class="person-photo">
              <div class="hex-wrapper">
                <div class="hex">
                  <div class="hex-image"><img src="/assets/images/hurricane-team-photo.jpg" alt="Hurricane Team Member" /></div>
                </div>
              </div>
            </div>
            <h2>Team Member 3</h2>
            <h3>General Manager</h3>
            <p>Nullam ultrices tincidunt nulla non accumsan. Vivamus eget dictum justo, at euismod magna. Quisque eu diam velit. Suspendisse sodales ex at bibendum pharetra. Donec convallis libero vel turpis cursus, ut scelerisque velit dignissim. Vivamus blandit lacinia ante, eu malesuada justo viverra a. Nulla quis sapien at urna porttitor finibus. Donec luctus et quam nec aliquet. Cras turpis justo, dignissim quis hendrerit eu, commodo et leo.</p>
          </div>
          <div class="team-members-person" data-aos="fade-up">
            <div class="person-photo">
              <div class="hex-wrapper">
                <div class="hex">
                  <div class="hex-image"><img src="/assets/images/hurricane-team-photo.jpg" alt="Hurricane Team Member" /></div>
                </div>
              </div>
            </div>
            <h2>Team Member 4</h2>
            <h3>General Manager</h3>
            <p>Nullam ultrices tincidunt nulla non accumsan. Vivamus eget dictum justo, at euismod magna. Quisque eu diam velit. Suspendisse sodales ex at bibendum pharetra. Donec convallis libero vel turpis cursus, ut scelerisque velit dignissim. Vivamus blandit lacinia ante, eu malesuada justo viverra a. Nulla quis sapien at urna porttitor finibus. Donec luctus et quam nec aliquet. Cras turpis justo, dignissim quis hendrerit eu, commodo et leo.</p>
          </div>
        </div>
    
    